<template lang="pug">
secttion.popular
  .container
    BreadCrumbs
    h1.title_up-middle.mb-32 Популярные места

    FilterBtns.mb-40

    .grid.grid_3
      CardPopular
      CardPopular
      CardPopular
      CardPopular
      CardPopular
      CardPopular
</template>

<script setup>
import FilterBtns from "@/layout/FilterBtns";
import BreadCrumbs from "@/layout/BreadCrumbs";

import CardPopular from "@/layout/cards/CardPopular.vue";
// :style="{ backgroundImage: 'url(' + src + ')' }"
</script>

<style lang="stylus" scoped>
@import '@/assets/styles/vars.styl';
</style>