<template lang="pug">
section.profile-favorites
  .container
    //- NotFound(pageInfo="favorites")
    .grid.grid_2
      CardPlace(v-for="(place, i) in places",:key="i",:place="place")
</template>

<script setup>
// import NotFound from '@/components/NotFound.vue'
import CardPlace from "@/layout/cards/CardPlace";
import { reactive } from "vue";

const places = reactive([
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: true,
    new: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: false,
    new: false,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: true,
    new: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: false,
    new: false,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: true,
    new: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: false,
    new: false,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: true,
    new: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: false,
    new: false,
  },
]);
</script>