<template lang="pug">
section.profile-places
  .container
    NotFound(pageInfo="places")
    .grid.grid_2
      //- CardPlace(v-for="(place, i) in places" :key="i" :place="place")
</template>

<script setup>
// import {reactive} from 'vue'
import NotFound from '@/components/NotFound.vue'
// import CardPlace from "@/layout/cards/CardPlace.vue";

// const places = reactive([
//   {
//     title: "Дом отдыха «Кашкаранцы»",
//     city: "Москва",
//     price: "15 000",
//     draft: false
//   },
//   {
//     title: "Дом отдыха «Кашкаранцы»",
//     city: "Москва",
//     price: "15 000",
//     draft: true
//   },
// ]);
</script>