<template lang="pug">
section.profile-messages
  MessageList
    //- NotFound(pageInfo="booking")
</template>

<script setup>
// import NotFound from "@/components/NotFound.vue";
import MessageList from "@/layout/MessageList.vue";
</script>

<style scoped lang="stylus">
@import '@/assets/styles/vars.styl';

@media $mobile {
  .profile-messages {
    padding 0 24px
  }
}
</style>