<template>
  <div class="select" data-state="" ref="selectSingle">
    <button class="select__btn" @click.prevent="toggleMenu">
      <span class="select__btn-label controls_middle">{{ label }}</span>
      <span class="select__btn-content controls_middle"></span>
    </button>
    <div class="select__content" tabindex="-1">
      <input
        id="singleSelect0"
        class="select__input"
        type="radio"
        name="singleSelect"
        checked
      />
      <label for="singleSelect0" class="select__label" @click="choiceOption(0)"
        >Option 0</label
      >
      <input
        id="singleSelect1"
        class="select__input"
        type="radio"
        name="singleSelect"
      />
      <label for="singleSelect1" class="select__label" @click="choiceOption(1)"
        >Option 1</label
      >
      <input
        id="singleSelect2"
        class="select__input"
        type="radio"
        name="singleSelect"
        disabled
      />
      <label for="singleSelect2" class="select__label" @click="choiceOption(2)"
        >Option 2 (disabled)</label
      >
      <input
        id="singleSelect3"
        class="select__input"
        type="radio"
        name="singleSelect"
      />
      <label for="singleSelect3" class="select__label" @click="choiceOption(3)"
        >Option 3</label
      >
      <input
        id="singleSelect4"
        class="select__input"
        type="radio"
        name="singleSelect"
      />
      <label for="singleSelect4" class="select__label" @click="choiceOption(4)"
        >Option 4</label
      >
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, reactive, onUnmounted } from "vue";

const props = defineProps({
  name: String,
  label: String
});

const selectSingle = ref("select" + props.name);
const selectSingleLabel = ref();
const selectSingleTitle = ref();
const selectSingle_labels = reactive([]);

const toggleMenu = () => {
  if ("active" === selectSingle.value.getAttribute("data-state")) {
    selectSingle.value.setAttribute("data-state", "");
  } else {
    selectSingle.value.setAttribute("data-state", "active");
  }
};

const closeMenu = (e) => {
  if (e.target !== selectSingleLabel.value && "active" === selectSingle.value.getAttribute("data-state")) {
    selectSingle.value.setAttribute("data-state", "");
  }
};

const choiceOption = (i) => {
  if (!selectSingleLabel.value.classList.contains("selected")) {
    selectSingleLabel.value.classList.add("selected");
  }
  selectSingleTitle.value.textContent =
    selectSingle_labels.value[i].textContent;
  selectSingle.value.setAttribute("data-state", "");
};

onMounted(() => {
  selectSingleLabel.value = selectSingle.value.querySelector(".select__btn");
  selectSingleTitle.value = selectSingleLabel.value.querySelector(
    ".select__btn-content"
  );
  selectSingle_labels.value =
    selectSingle.value.querySelectorAll(".select__label");

  window.addEventListener("click", closeMenu);
});

onUnmounted(() => {
  window.removeEventListener("click", closeMenu);
})
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';
@import '@/assets/styles/mixins.styl';

.select {
  position: relative;
  width: 100%;
  height: var(--heigth-elems);
  border-radius: var(--radius-def);
  background-color: #F5F5F5;

  &_white {
    background-color #fff
  }

  &[data-state='active'] {
    .select__btn {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .select__content {
      opacity: 1;
    }

    .select__label {
      max-height: 100%;
      border-top-width: 1px;
    }
  }
}

.select__btn {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px 24px;
  cursor: pointer;
  border 2px solid transparent

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: $black;
    transform: translate(-3px, -50%) rotate(45deg);
  }

  &:focus {
    border-color: #06CC79;
    box-shadow 0 0 0 4px #BFFDE3 
    border-radius: 16px
  }

  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }

  &-label {
    margin: auto 0;
    opacity: 0.7;
  }

  &-content,
  &-label {
    pointer-events: none;
  }

  // &-content {
    // margin-bottom 2px
  // }

  &.selected .select__btn-label {
    margin: 0;
    opacity: 0.3;
    font-size: 12px;
    line-height: 12px;
  }
}

.select__content {
  position: absolute;
  overflow: hidden;
  top: 85%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F5F5F5;
  border-top: none;
  border-bottom-left-radius: var(--radius-def);
  border-bottom-right-radius: var(--radius-def);
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
  box-shadow: -9px -10px 11px rgba(0, 0, 0, 0.01), 18px 20px 37px rgba(0, 0, 0, 0.06);
}

.select__input {
  display: none;

  // &:focus + label {
  //   background-color: #dedede;
  // }

  &:checked + label {
    background-color: #dedede;
  }

  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.select__label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--heigth-elems);
  max-height: 0;
  padding: 0 24px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  color: $black;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 4px;
    background-color: transparent;
    transition: background-color 0.2s;
  }

  & + input + & {
    border-top: 0 solid #C7CCD160;
  }

  &:hover, &:focus {
    background-color: #BFFDE3 !important;

    &::before {
      background-color: $green;
    }
  }
}
</style>