<template lang="pug">
.form__wrapper(:class="{ 'form__wrapper_with-icon': currentIcon }")
  input.form__input(:id="name", :type="type", :name="name", required)
  label.form__label(:for="name")
    component.icon.form__label-icon(:is="currentIcon")
  span.form__placeholder {{ label }}
  button.form__label-clear
    CloseIcon.icon

    //- p.authorization__text-error.controls_small Неправильно введен пароль
</template>

<script setup>
import {
  CloseIcon,
  ProfileIcon,
  LockIcon,
  MailIcon,
  PhoneIcon,
  SearchIcon
} from "@/layout/icon/index";
import { computed, reactive } from "vue";

const props = defineProps({
  icon: String,
  label: String,
  type: String,
  name: String,
});

const iconList = reactive({
  profile: ProfileIcon,
  lock: LockIcon,
  mail: MailIcon,
  phone: PhoneIcon,
  search: SearchIcon
});

const currentIcon = computed(() => (props.icon ? iconList[props.icon] : false));
</script>