<template lang="pug">
perfectScrollbar.form__description
  .form__description-text(contenteditable="true" role="textbox" @input="update")
  span.scrollable-label.controls_middle {{ label }}
</template>

<script setup>
defineProps({
  label: String,
});

const update = (e) => {
  const el = e.target;
  if ((el.innerHTML == "" || el.innerHTML == '<br>') && el.classList.contains("filled")) {
    el.classList.remove("filled");
  } else if (!el.classList.contains("filled")){
    el.classList.add("filled");
  }
};
</script>

<style lang="stylus" scoped>
.scrollable-label {
  pointer-events: none;
  position: absolute;
  top: 20px;
  left: 24px;
  opacity: 0.7;
}
</style>