<template>
  <div class="map">
    <yandexMap
      :controls="['zoomControl']"
      :coords="coords"
      :zoom="10"
      :cluster-options="clusterOptions"
      :options="{
        autoFitToViewport: 'always',
        zoomControlPosition: { right: 15, top: 120 },
      }"
    >
      <ymapMarker
        v-for="item in markers"
        :key="item.id"
        :marker-id="item.id"
        :coords="item.coord"
        :cluster-name="item.clusterName"
        :balloon-template="balloonTemplate"
        :balloonOptions="{
          balloonOffset: '[100, -34]',
        }"
        @click="setCoords(item.coord)"
        :options="{
          iconLayout: 'default#image',
          iconImageHref: require('@/assets/images/map/map-pin.svg'),
          iconImageSize: [70, 82],
          iconImageOffset: [-35, -41],
        }"
      >
      </ymapMarker>
    </yandexMap>
  </div>
</template>
  
<script>
const settings = {
  apiKey: "932c21e6-ab0e-47d6-b65e-56afd7356cf9",
  lang: "ru_RU",
  coordorder: "latlong",
  enterprise: false,
  version: "2.1",
};
import { yandexMap, ymapMarker, loadYmap } from "vue-yandex-maps";
import Swiper, { Navigation } from "swiper";
import "swiper/css";

export default {
  components: { yandexMap, ymapMarker },
  data() {
    return {
      settings: settings,
      coords: [55.755864, 37.617698],
      clusterOptions: {
        1: {
          // clusterDisableClickZoom: false,
          // clusterHideIconOnBalloonOpen: false,
          // geoObjectHideIconOnBalloonOpen: false,
          groupByCoordinates: false,
          preset: "islands#invertedDarkGreenClusterIcons",
          clusterIcons: [
            {
              href: require("@/assets/images/map/cluster-icons.svg"),
              size: [64, 64],
              offset: [-32, -32],
            },
          ],
        },
      },
      markers: [
        {
          id: 111,
          coord: [55.75321, 37.619055],
          clusterName: 1,
        },
        {
          id: 112,
          coord: [55.876327, 37.431744],
          clusterName: 1,
        },
        {
          id: 14,
          coord: [55.831903, 37.411961],
          clusterName: 1,
        },
        {
          id: 15,
          coord: [55.800584, 37.675638],
          clusterName: 1,
        },
        {
          id: 16,
          coord: [55.87417, 37.669838],
          clusterName: 1,
        },
        {
          id: 71,
          coord: [55.847121, 37.525797],
          clusterName: 1,
        },
        {
          id: 18,
          coord: [55.77597, 37.5129],
          clusterName: 1,
        },
        {
          id: 156,
          coord: [55.816515, 37.597163],
          clusterName: 1,
        },
        {
          id: 96,
          coord: [55.679195, 37.600961],
          clusterName: 1,
        },
        {
          id: 99,
          coord: [55.681006, 37.605126],
          clusterName: 1,
        },
        {
          id: 254,
          coord: [55.843363, 37.778445],
          clusterName: 1,
        },
        {
          id: 65,
          coord: [55.691046, 37.711026],
          clusterName: 1,
        },
        {
          id: 73,
          coord: [55.803972, 37.65961],
          clusterName: 1,
        },
        {
          id: 82,
          coord: [55.844708, 37.74887],
          clusterName: 1,
        },
        {
          id: 4,
          coord: [55.723123, 37.406067],
          clusterName: 1,
        },
        {
          id: 5,
          coord: [55.858585, 37.48498],
          clusterName: 1,
        },
      ],
    };
  },
  computed: {
    balloonTemplate() {
      return `
          <div class='card card_map'>
            <div class="slider__swiper balloon__slider">
              <div class="swiper-wrapper">
                <img class='card__img swiper-slide' src='${require("@/assets/images/slide.jpg")}' />
                <img class='card__img swiper-slide' src='${require("@/assets/images/slide.jpg")}' />
                <img class='card__img swiper-slide' src='${require("@/assets/images/slide.jpg")}' />
              </div>
              <button class="swiper-button-next"></button>
              <button class="swiper-button-prev"></button>
            </div>
            <a href='/'>
              <div class='card__box'>
                <h3 class='title_small mb-8'>Коттедж «Ультрасовременный домик»</h3>
                <p class='text_small mb-12 opacity-50'>Москва</p>

                <p class='controls_middle'>
                  от 100 ₽ <span class='controls_small opacity-50'>/сутки</span>
                </p>
              
              </div>
            </a>
          </div>
      `;
    },
  },
  methods: {
    setCoords(coord) {
      let options = {
        slidesPerView: 1,
        mousewheel: true,
        modules: [Navigation],
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      };
      setTimeout(() => {
        new Swiper(document.querySelector(".balloon__slider"), options);
        this.coords = coord;
      }, 100);
    },
  },
  async mounted() {
    await loadYmap(settings);
  },
};
</script>