<template>
  <div class="map">
    <yandexMap
      :controls="['zoomControl']"
      :coords="coords"
      :zoom="10"
      :options="{
        autoFitToViewport: 'always',
        zoomControlPosition: { right: 15, top: 120 },
      }"
    >
      <ymapMarker
        v-for="item in markers"
        :key="item.id"
        :marker-id="item.id"
        :coords="item.coord"
        :options="{
          iconLayout: 'default#image',
          iconImageHref: require('@/assets/images/map/map-pin.svg'),
          iconImageSize: [70, 82],
          iconImageOffset: [-35, -41],
        }"
      >
      </ymapMarker>
    </yandexMap>
  </div>
</template>
  
<script>
const settings = {
  apiKey: "932c21e6-ab0e-47d6-b65e-56afd7356cf9",
  lang: "ru_RU",
  coordorder: "latlong",
  enterprise: false,
  version: "2.1",
};
import { yandexMap, ymapMarker, loadYmap } from "vue-yandex-maps";

export default {
  components: { yandexMap, ymapMarker },
  data() {
    return {
      count: 0,
      settings: settings,
      coords: [55.755864, 37.617698],
      markers: [
        {
          id: 111,
          coord: [55.75321, 37.619055],
        },
      ],
    };
  },
  async mounted() {
    await loadYmap(settings);
  },
};
</script>