.icon
	&--def
		width 24px
		height 24px

	&--small
		width 16px
		height 16px

	path,
	rect,
	circle
		stroke $black
		transition fill .3s, stroke .3s

	&_green
		path,
		rect
			stroke $green

	&_white
		path,
		rect
			stroke #FFFFFF

	&_red
		path,
		rect,
		circle
			stroke #F9615D