.mb 
	&-4
		margin-bottom 4px

	&-8 
		margin-bottom 8px

	&-12
		margin-bottom 12px

	&-16
		margin-bottom 16px

	&-24 
		margin-bottom 24px

	&-32 
		margin-bottom 32px

	&-40
		margin-bottom 40px

	&-48
		margin-bottom 48px

	&-80
		margin-bottom 80px

.ml
	&-8 
		margin-left 8px

	&-12
		margin-left 12px

	&-16
		margin-left 16px

	&-24 
		margin-left 24px

	&-32 
		margin-left 32px

	&-40
		margin-left 40px

.mr
	&-8 
		margin-right 8px

	&-16
		margin-right 16px

	&-12
		margin-right 12px

	&-24 
		margin-right 24px

	&-32 
		margin-right 32px

	&-40
		margin-right 40px