<template>
  <svg viewBox="0 0 88 56" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M85 37.1523L82.324 40.4202C65.3304 58.5418 39.539 56.578 26.5451 40.2679L24.5 37.1523H31C42.5 49.5 61.5 52.4625 77.5 37.1523L85 37.1523Z"
      fill="#06CC79"
    />
    <path
      d="M11.72 10.64C13.8533 10.64 15.6267 11.3733 17.04 12.84C18.48 14.3067 19.2 16.3333 19.2 18.92V31.2H13.2V19.8C13.2 18.6267 12.8667 17.7333 12.2 17.12C11.56 16.48 10.7333 16.16 9.72 16.16C8.57333 16.16 7.66667 16.5067 7 17.2C6.33333 17.8933 6 18.92 6 20.28V31.2H0V12.2004L6 8.7002V13.08C7.2 11.4533 9.10667 10.64 11.72 10.64Z"
      fill="#06CC79"
    />
    <path
      d="M40.4403 28.72C38.387 30.7467 35.8803 31.76 32.9203 31.76C29.9603 31.76 27.4536 30.7467 25.4003 28.72C23.347 26.6667 22.3203 24.16 22.3203 21.2C22.3203 18.24 23.347 15.7467 25.4003 13.72C27.4536 11.6667 29.9603 10.64 32.9203 10.64C35.8803 10.64 38.387 11.6667 40.4403 13.72C42.4936 15.7467 43.5203 18.24 43.5203 21.2C43.5203 24.16 42.4936 26.6667 40.4403 28.72ZM29.6403 24.6C30.5203 25.48 31.6136 25.92 32.9203 25.92C34.227 25.92 35.3203 25.48 36.2003 24.6C37.0803 23.72 37.5203 22.5867 37.5203 21.2C37.5203 19.8133 37.0803 18.68 36.2003 17.8C35.3203 16.92 34.227 16.48 32.9203 16.48C31.6136 16.48 30.5203 16.92 29.6403 17.8C28.7603 18.68 28.3203 19.8133 28.3203 21.2C28.3203 22.5867 28.7603 23.72 29.6403 24.6Z"
      fill="#06CC79"
    />
    <path d="M46.9141 31.2V7.2002L52.9141 2V31.2H46.9141Z" fill="#06CC79" />
    <path d="M57.3047 31.2V7.2002L63.3047 2V31.2H57.3047Z" fill="#06CC79" />
    <path
      d="M84.8153 28.72C82.762 30.7467 80.2553 31.76 77.2953 31.76C74.3353 31.76 71.8287 30.7467 69.7753 28.72C67.722 26.6667 66.6953 24.16 66.6953 21.2C66.6953 18.24 67.722 15.7467 69.7753 13.72C71.8287 11.6667 74.3353 10.64 77.2953 10.64C80.2553 10.64 82.762 11.6667 84.8153 13.72C86.8686 15.7467 87.8953 18.24 87.8953 21.2C87.8953 24.16 86.8686 26.6667 84.8153 28.72ZM74.0153 24.6C74.8953 25.48 75.9887 25.92 77.2953 25.92C78.602 25.92 79.6953 25.48 80.5753 24.6C81.4553 23.72 81.8953 22.5867 81.8953 21.2C81.8953 19.8133 81.4553 18.68 80.5753 17.8C79.6953 16.92 78.602 16.48 77.2953 16.48C75.9887 16.48 74.8953 16.92 74.0153 17.8C73.1353 18.68 72.6953 19.8133 72.6953 21.2C72.6953 22.5867 73.1353 23.72 74.0153 24.6Z"
      fill="#06CC79"
    />
  </svg>
</template>