<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <!-- <script src="//vk.com/js/api/xd_connection.js?2" type="text/javascript"></script> -->
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?168"></script>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.
    </strong>
  </noscript>
  <div id="app"></div>
</body>

</html>