.authorization {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: url('~@/assets/images/bg/bg-authorization.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media $mobile {
    background: #fff;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 40px 64px;

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media $tablet {
      padding: 40px 48px;

      .logo {
        width: 72px;
        height: 48px;
      }
    }

    @media $mobile {
      position: static;
      padding: 16px 16px 8px 16px;
      text-align: right;
      background-color #fff
    }
  }

  // &__bg {
  // content ''
  // position: absolute;
  // left: 0;
  // top: 0;
  // // bottom: 0
  // width: 624px;
  // // min-height: 100vh;
  // height: 100%;
  // background-color: #FFFFFF;
  // border-radius: 0px 32px 32px 0px;
  // }

  // &__bg {
  // position: absolute;
  // left: 0;
  // top: 0;
  // // bottom: 0
  // width: 624px;
  // min-height: 100vh;
  // height: 100%;
  // background-color: #FFFFFF;
  // border-radius: 0px 32px 32px 0px;
  // }
  &__wrapper {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow hidden
    // flex-shrink 0
    // min-height 410px
    opacity 1
    transform translateX(0)
    transition opacity .3s, transform .3s

    &.hide {
      opacity 0
      // width 0
      position absolute
      transform translateX(-300%)
    }
  }

  &__inner {
    width 100%
    min-height 510px

    @media $tablet {
      min-height 410px
    }
  }

  &__content {
    display: flex;
    position: relative;
    z-index: 1;
    max-width: 624px;
    width: 100%;
    height: 100%;
    overflow hidden
    padding: 140px 64px 30px;
    background-color: #FFFFFF;
    border-radius: 0px 32px 32px 0px;
    min-height: inherit;

    @media $tablet {
      max-width: 448px;
      padding: 128px 32px 56px 48px;

      .title_bigger {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
      }

      .text_bigger {
        font-size: 16px;
        line-height: 24px;
      }
    }

    @media $mobile {
      max-width: 100%;
      border-radius: 0;
      padding: 8px 24px 40px;
      min-height: calc(100vh - 50px);

      .title_bigger {
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 32px;
      }
    }

    &-header {
      margin-bottom: 40px;

      @media $tablet {
        margin-bottom: 24px;
      }
    }
  }

  &__recover {
    display: flex;
    align-items: center;
    margin: 32px 0 32px auto;

    @media $tablet {
      margin: 20px 0 24px auto;
    }

    .icon {
      margin-right: 8px;
    }
  }

  &__form {
    &-checkboxes {
      margin: 32px 0;
    }
  }

  &__sub {
    display: block;
    width: 100%;
  }

  &__helper {
    text-align: center;
    margin-top 64px
    margin-bottom: 56px;

    @media $tablet {
      margin-top 24px
      margin-bottom: 32px;
    }

    @media $mobile {
      margin-top: 32px;
    }

    &-text {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      opacity: 0.5;
      white-space: nowrap;

      @media $mobile {
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 12px;
      }

      &::before, &::after {
        content: '';
        display: block;
        background-color: #000000;
        height: 1px;
        width: 100%;
      }

      &::before {
        margin-right: 12px;
      }

      &::after {
        margin-left: 12px;
      }
    }
  }

  &__text-error {
    margin-top: 9px;
    color: #F72921;
  }

  &__reg {
    text-align: center;

    &-text {
      opacity: 0.5;
    }

    &-btn {
      margin-left: 12px;
      color: $green;
      opacity: 1;
    }
  }

  .social {
    &__item {
      margin-left: 16px;
    }

    &__btn {
      padding: 12px;
      background-color: $gray;
      border-radius: var(--radius-12);
    }
  }
}