.create {
  &__inner {
    width: 100%;
  }
  
  &__item {
    overflow: hidden;
    height: 0;
    opacity 0
    transition: opacity 1s, height 0.5s, border-color .3s;

    &.active {
      height: auto;
      overflow: visible;
      opacity  1
    }
  }

  &__btns {
    margin-top: 56px;
  }
}

@media $mobile {
  .create {
    &__item {
      opacity 1
      height: auto;
      margin-top: 16px;
      background-color: #fff;
      border-radius: 8px 16px 16px 8px;
      border-left 8px solid #C8C8C8

      &.completed {
        border-color $green

        .create__item-header .icon {
          opacity 1
        }
      }

      &-header {
        display flex
        justify-content space-between
        align-items center
        padding: 24px;
        transition padding .5s, margin .5s

        .icon {
          opacity 0
          transition opacity .3s
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &.active {
        .create__item-header {
          padding-bottom 0
          margin-bottom 12px
        }

        .create__content {
          overflow: visible;
        }
      }
    }

    &__content {
      transition min-height .5s, height .5s
      overflow hidden
      padding 0 24px
    }

    &__btns {
      grid-gap: 16px;
      margin-top 32px
      margin-bottom 24px
    }
  }
}