<template lang="pug">
section.about
  .container-mid
    BreadCrumbs
    h2.title_up-middle.mb-24 О проекте

    p.text_middle.mb-24 Наша команда состоит из таких же любителей отдыха на природе, как и вы. Мы сталкивались с похожими проблемами при поиске туристических баз, бронировании номеров. Мы часто слышали знакомую раздражающую фразу от сотрудников баз отдыха: «Извините, но мест нет, все номера забронированы». И тогда мы поняли, что с этим надо что-то делать. Необходимо упростить процедуру поиска и бронирования номеров на базах отдыха. Так родилась идея создания специального поискового сервиса, в базу данных которого входили бы практически все туристические базы России.

    p.text_middle.mb-24 Мы заключили договора с большим количеством туристических баз по всей России. Это дает возможность вам гарантировано найти базу отдыха и забронировать именно такой номер, который вам понравится (а не тот, который остался). С помощью нашего сервиса вы можете оценить обстановку и состояние турбазы, ознакомиться со внутренней планировкой номеров (просмотрев фото каждого номера). Также есть возможность ознакомления с отзывами клиентов о качестве обслуживания и общих впечатлениях от отдыха на каждой отдельно взятой турбазе, находящейся в нашем каталоге. Это поможет вам избежать неприятных неожиданностей в виде некачественного сервиса, плохого состояния номеров и прочих негативных факторов.

    p.text_middle.mb-24 Создавая наш сервис, мы руководствовались одним убеждением: делая что-то для людей, делай так, словно ты создаешь это для себя самого. Поэтому немалое внимание было уделено разработке удобного интерфейса, ориентирование в котором осуществлялось бы интуитивно и понятно даже для неопытных пользователей интернета. Также в каталог баз отдыха мы внесли максимально подробную информацию о каждой турбазе (актуальная стоимость путевки, качественные фотоснимки номеров с высоким разрешением и т.п.). Воспользовавшись нашим сервисом, вы точно будете знать о том, куда именно и в какие условия вы едете отдыхать.

    p.text_middle Нет ничего хуже, чем испорченный отдых. Такое случается, когда человек бронирует номер на турбазе, о которой практически ничего не знает. Наш сервис предоставляет вам всю важную информацию, которая покажет, стоит ли вам отдыхать в том или ином оздоровительном учреждении, или нет. Вы сможете заранее забронировать для себя комфортабельный номер с прекрасным видом, выбирая из всех доступных. Если вы хотите хорошо отдохнуть на красивой природе – наш сервис к вашим услугам!
</template>

<script setup>
import BreadCrumbs from "@/layout/BreadCrumbs";
</script>