<template lang="pug">
section.authorization
  //- .authorization__bg
  header.authorization__header
    .authorization__header-content(v-if="!mobile")
      router-link.header__wrapper(:to="{ name: 'Home' }")
        img.logo(src="@/assets/images/logo.png")

        span.controls_middle.header__text Найди идеальное место для своего отдыха

      //- transition(name="fade" mode="out-in")
      router-link.btn.btn_control.btn_black(to="/")
        GetOutIcon.icon.icon--small
        span.controls_middle Вернуться к сервису

    router-link.authorization__header-close(v-if="mobile" to="/" v-show="!recovery")
      CloseIcon.icon.icon--def

  .authorization__content
    Login(@recoveryGetIn="recoveryGetIn" :class="{hide: recovery}")
    Recovery(@recoveryGetOut="recoveryGetOut" :class="{hide: !recovery}")
</template>

<script setup>
import Login from '@/components/login/Index.vue'
import Recovery from '@/components/login/Recovery.vue'
import { computed, ref } from "vue";
import { useStore } from "vuex";
import {
  CloseIcon,
  GetOutIcon,
} from "@/layout/icon/index";

const store = useStore();
const recovery = ref(false)
const mobile = computed(() => store.getters["common/getMobile"]);

const recoveryGetIn = () => {
  recovery.value = true
}

const recoveryGetOut = () => {
  recovery.value = false
}
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';


</style>