<template lang="pug">
section.booking
  .container-mid
    BreadCrumbs
    h1.title_bigger.mb-32 Бронирование №2397-93

    SliderImg.mb-40(:images="images")

    h2.title_up-middle.border-btm.mb-24 Коттедж «Ультрасовременный домик»

    .details.mb-24
      .details__item
        FoodIcon.icon.icon--small
        span.controls_small без питания

      .details__item
        ProfileIcon.icon.icon--small
        span.controls_small 2+4 гостя

  .container-mid.container_mob-hide
    .booking__info.wrapper.wrapper_h-btw
      .booking__info-item
        h3.title_middle.border-btm.mb-16 Детали бронирования

        .wrapper.wrapper_h-btw.border-btm.mb-24
          .booking__info-col
            h3.controls_small.mb-8.opacity-30 Заезд
            p.controls_middle.mb-4 пн, 7 июня 2022
            p.text_middle с 14:00

          .booking__info-col
            h3.controls_small.mb-8.opacity-30 Отъезд
            p.controls_middle.mb-4 вс, 20 июня 2022
            p.text_middle до 12:00

        p.text_middle.mb-4 Общая длительность проживания
        p.controls_middle 13 ночей

      .booking__info-item
        h3.title_middle.border-btm.mb-16 Стоимость

        .wrapper.wrapper_h-btw.mb-16
          p.text_middle.opacity-70 20 000 ₽ х 13 ночей
          p.text_middle 260 000 ₽

        .wrapper.wrapper_h-btw
          p.text_middle.opacity-70 Скидка 25%
          p.text_middle 65 000 ₽

        .total
          p.text_middle Итог
          p.text_middle.opacity-70 195 000 ₽

  .container-mid
    .booking__another.mb-40
      label.form__checkbox-label
        input.form__checkbox(v-model="anotherMan", type="checkbox", name="kk")
        span.controls_middle Гостем будет другой человек

      transition(name="fade", mode="out-in")
        form.booking__another-form(v-show="anotherMan")
          .grid.grid_2.mb-32
            v-input(icon="profile", label="Имя", type="text", name="name")

            v-input(icon="phone", label="Телефон", type="text", name="phone")

          v-input.mb-32(icon="mail", label="Почта", type="text", name="email")

          v-message(label="Сообщение")

    h4.title_middle.mb-32 Условия проживания
    Accordion

    button.btn.btn_green.booking__btn 
      span.btn__content Отправить заявку

    p.controls_middle.align-ctr Для отправки заявки необходимо <a class='booking__link c-green'>зарегистрироваться</a>
</template>

<script setup>
import SliderImg from "@/layout/sliders/SliderImg";
import Accordion from "@/layout/Accordion";
import {
  FoodIcon,
  ProfileIcon,
} from "@/layout/icon/index.js";
import { reactive, ref } from "vue";
import BreadCrumbs from "@/layout/BreadCrumbs";

const images = reactive([
  require("@/assets/images/slide.jpg"),
  require("@/assets/images/slide2.jpg"),
  require("@/assets/images/slide.jpg"),
  require("@/assets/images/slide2.jpg"),
  require("@/assets/images/slide.jpg"),
  require("@/assets/images/slide.jpg"),
]);

const anotherMan = ref(false);
</script>

<style lang='stylus' scoped>
@import '@/assets/styles/mixins.styl';
@import '@/assets/styles/vars.styl';

.booking {
  &__info {
    margin-bottom: 64px;

    @media $tablet {
      display: block;
    }

    @media $mobile {
      display: block;
    }

    &-item {
      max-width: 416px;
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: var(--radius-def);
      padding: var(--offset-up-mid);
      background-color: $gray;

      @media $tablet {
        max-width: 100%;

        &:first-child {
          margin-bottom: 32px;
        }
      }

      @media $mobile {
        max-width: 100%;
        padding: var(--offset-up-mid) 24px;

        &:first-child {
          margin-bottom: 24px;
        }
      }
    }
  }

  &__btn {
    width: 100%;
    margin-top: 56px;
    margin-bottom: 32px;
  }

  &__link {
    text-decoration: underline;
  }

  &__another-form {
    margin-top: 24px;
  }

  .form__description {
    height: 120px;
    min-height: 120px;
  }
}
</style>