<template lang="pug">
section.contacts
  .container-mid
    BreadCrumbs
    h1.title_up-middle 

    form.form
      .grid.grid_2
        v-input(icon="profile", label="Имя и фамилия", type="text", name="name")

        v-input(icon="mail", label="Телефон или e-mail", type="text", name="email")

      v-message(label="Сообщение")

      button.btn.btn_green 
        span.btn__content Отправить
</template>
<script setup>
import BreadCrumbs from "@/layout/BreadCrumbs";

</script>

<style lang="stylus" scoped>
.contacts {
  background-color: #FFFFFF;

  .form__description {
    margin: 32px 0 40px;
    height: 108px;
    min-height: 108px;
  }

  .btn {
    display: block;
    width: 100%;
  }
}
</style>