<template lang="pug">
section.search
  .container
    form.search__form
      .wrapper.wrapper_v-ctr.mb-24
        v-input.search__form-place.form__wrapper_white(
          icon="search",
          :label="mobile ? 'Место или название' : 'Место или наименование турбазы'",
          type="text",
          name="place"
        )

        DataPicker.calendar_white(:multi-calendars="true", name="dataFound" placeholder="Даты заезда и выезда")

        label.form__checkbox-label.form__checkbox-label_white
          input.form__checkbox(
            type="checkbox",
            value="category.value",
            name="kk"
          )
          span.controls_middle.opacity-70 ± 3 дня

      .search__special.mb-40
        FilterBtns.mb-24

        v-input.form__wrapper_white(label="Стоимость от", type="text", name="costFrom")

        v-input.form__wrapper_white(label="Стоимость до", type="text", name="costTo")

        custom-select.select_white(name="AmountGuests", label="Кол-во гостей")

        custom-select.select_white(name="AmountMeals", label="Тип питания")

        button.btn.btn_green.search__btn Найти

    //- NotFound(pageInfo="empty")

  .container.container_mob-hide
    .search__card
      Map.search__map(:class="{hidden: !full}")
      button.search__card-btn.btn_uncover(
        @click.prevent="toggleFullMap",
      )
        span.controls_middle.c-green(v-if="!full") Развернуть
        span.controls_middle.c-green(v-else) Свернуть

  .container
    Catalog(:title="title")
</template>

<script setup>
import DataPicker from "@/layout/DataPicker";
import FilterBtns from "@/layout/FilterBtns.vue";
import Catalog from "@/components/Catalog.vue";
import Map from "@/components/maps/Map";
import { useStore } from "vuex";
import { computed, ref } from "vue";
// import NotFound from '@/components/NotFound.vue'
defineProps({
  title: String,
});

const store = useStore();
const mobile = computed(() => store.getters["common/getMobile"]);
const full = ref(false);

const toggleFullMap = () => {
  full.value = !full.value;
};
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';
@import '@/assets/styles/mixins.styl';

.search {
  padding-top 9px
  
  &__form {
    @media $mobile {
      display: flex;
      flex-direction: column;
    }

    &-place {
      max-width: 752px;
      width: 100%;
      margin-right: 32px;

      @media $tablet {
        max-width: 48%;
        margin-right: 4%;
      }

      @media $mobile {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
      }
    }

    .wrapper {
      @media $mobile {
        display: block;
      }
    }

    .calendar {
      max-width: 304px;
      margin-right: 32px;

      @media $mobile {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
      }
    }
  }

  &__map {
    height: 560px;
    margin-bottom: 72px;
    transition: height 0.3s;

    @media $tablet {
      height 540px
    }

    &.hidden {
      height: 240px;
    }
  }

  &__special {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media $mobile {
      flex-direction: column;
    }

    .form__wrapper, .select {
      max-width: 220px;
      width: 100%;
      margin-right: 32px;
    }

    .form__wrapper {
      @media $tablet {
        max-width: 48%;
        margin-right: 0;
        margin-bottom: 24px;
      }

      @media $mobile {
        max-width: 100%;
      }
    }

    .select {
      @media $tablet {
        max-width: 328px;
      }

      @media $mobile {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
      }
    }
  }

  &__card {
    position relative
    &-btn {
      width 172px
    }
  }

  .filter {
    width: 100%;

    @media $mobile {
      order: 1;
      margin-bottom: 32px;
    }
  }

  &__btn {
    max-width: 304px;
    width: 100%;

    @media $tablet {
      max-width: 208px;
    }

    @media $mobile {
      max-width: 100%;
      order: 2;
    }
  }
}
</style>