<template lang="pug">
.index
  .container
    section.index__head
      h1.title_bigger.mb-24 Найдите идеальное место для своего отдыха
      p.text_middle Выберите для этого все необходимые параметры поиска

    .index__search
      form.form.index__form
        v-input.index__form-place(
          icon="search",
          :label="mobile ? 'Место или название' : 'Место или наименование турбазы'",
          type="text",
          name="place"
        )

        .index__form-wrapper
          DataPicker(
            :multi-calendars="true",
            placeholder="Выберите даты",
            name="data"
          )

          custom-select(name="Guests", label="Кол-во гостей")
          //- v-select.style-chooser(
          //-   :options="['The Lock Artist', 'The w']",
          //-   label="title"
          //-   placeholder="Choose a book to read"
          //- )

          .index__form-price(:class="{ hidden: hiddenObj.price && !mobile }")
            v-input.index__form-price-label.mb-8(
              label="Цена от",
              type="text",
              name="costFrom"
            )
            v-input.index__form-price-label.mb-24(
              label="Цена до",
              type="text",
              name="costTo"
            )
            
            button.btn.btn_control.btn_green(v-if="!mobile") подтвердить

          button.index__form-price-btn(
            v-if="!mobile",
            @click.prevent="toggleHidden('price')",
            :class="{ active: !hiddenObj.price }",
          )
            //- PlusIcon.icon.icon--def
            span.controls_bigger ₽

          button.index__search-sub.btn.btn_green(
            @click.prevent="sesf",
          ) Найти

  .container.container_mob-hide
    Map.index__map

  .container
    section.performance
      .performance__item
        h2.title_middle.mb-16 Наша миссия
        p.text_middle — сделать туризм по России намного популярнее. Для этого мы собираем информацию об интересных местах и делимся с Вами!
      .performance__item
        h2.title_up-middle 5 720
        p.text_middle объектов
      .performance__item
        h2.title_up-middle 106
        p.text_middle мест отдыха

  .container.container_mob-hide
    section.index__preview
      .index__preview-box
        .index__preview-wrapper.mb-40
          h3.title_up-middle.mb-16 Популярные базы отдыха
          p.text_middle.opacity-50 Список самых популярных объектов в вашем регионе

        router-link.btn.c-green(
          :to="{ name: 'Found', params: { title: 'Каталог' } }"
        ) Смотреть все

        SliderCards(type="place", name="catalogSlider")
        //- .grid.grid_3(v-else)
        //-   CardPlace(v-for="(place, i) in places", :key="i", :place="place")

      .index__preview-box
        .index__preview-wrapper.mb-40 
          h3.title_up-middle.mb-16 Популярные базы отдыха
          p.text_middle.opacity-50 Список самых популярных объектов в вашем регионе

        router-link.btn.c-green(:to="{ name: 'Popular' }") Смотреть все

        SliderCards(type="popular", name="popularSlider")

  BannerSub

  .container
    section.index__info
      .index__info-inner
        h3.title_up-middle.mb-32 Базы отдыха России с ценами 2022&nbspи&nbspотзывами
        .index__info-block
          .index__info-descr(:class="{ hidden: hiddenObj.info }")
            p.text_middle.index__info-text Какой тип отдыха способен подарить человеку самые положительные эмоции и море приятных воспоминаний? Путешествия! Только путешествуя, человек способен сбросить груз ежедневных проблем, которые долго разъедали его изнутри. Только покинув знакомую обстановку, можно восстановить пошатнувшееся душевное равновесие и по-настоящему отдохнуть.
            p.text_middle.index__info-text Отдых на природе является одним из лучших способов расслабиться и восстановиться от городской суеты, которая ежедневно вытягивает из человека все силы, постепенно загоняя его в состояние апатии. Максимальный комфорт от отдыха на природе можно получить, забронировав номер на туристической базе. Но далеко не всегда удается успеть забронировать для себя хороший номер. Также бывают случаи, когда свободных номеров не остается вовсе. Как лучше поступить в этой ситуации человеку, которому отдых на красивой природе жизненно необходим?
            p.text_middle.index__info-text Воспользуйтесь услугами нашей компании. Мы – это превосходный сервис, благодаря которому каждый человек имеет возможность забронировать номер практически в любой базе отдыха на территории России. Мы заключили договора с большим количеством туристических баз, и внесли их в свой каталог. Это позволяет клиентам заранее оценить комфорт баз отдыха, внутреннюю обстановку номеров и ценовой диапазон. Заключение договоров с турбазами оказалось довольно непростым мероприятием. Большая часть из них находится далеко за пределами больших городов. Но мы это сделали.
            p.text_middle.index__info-text Теперь вы имеете возможность, не выходя из дома и не тратя собственное время на поиск турбаз, ознакомиться с обширным каталогом баз отдыха и выбрать ту, которая больше всего вам подходит. Также в каталоге указаны цены 2022 года. Собранная нами точная информация позволяет вам, потратив минимум времени и усилий, найти и забронировать нужный номер в нужной базе отдыха, и насладиться заслуженным отдыхом на красивой природе.
            p.text_middle.index__info-text В каталоге, кроме основных сведениях о туристических базах, также указываются отзывы клиентов о каждой базе отдыха. Ознакомившись с ними, вы узнаете, насколько высоко качество обслуживания на каждой отдельной турбазе, какое состояние номеров и другие полезные сведения. Зачем тратить свое время на поиски турбаз и попытки забронировать номер, когда у вас есть превосходная возможность выбрать из готового каталога наиболее выгодный вариант по разумной цене? Воспользуйтесь нашим сервисом и насладитесь долгожданным отдыхом!

          button.index__info-btn(
            v-if="mobile",
            @click.prevent="toggleHidden('info')"
          ) Читать полностью

      .info__group
        h3.title_up-middle.mb-32 Наши сообщества
        #vk_group
</template>

<script setup>
// import { PlusIcon } from "@/layout/icon/index";
// import CardPlace from "@/layout/cards/CardPlace";
import BannerSub from "@/layout/BannerSub";
import Map from "@/components/maps/Map";
import DataPicker from "@/layout/DataPicker";
// import { SearchIcon } from "@/layout/icon/index";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import SliderCards from "@/layout/sliders/SliderCards.vue";
import { computed, reactive } from "vue";

const store = useStore();
const router = useRouter();
const sesf = () => {
  router.push({ name: "Found", params: { title: "Результаты поиска" } });
};
const mobile = computed(() => store.getters["common/getMobile"]);

const hiddenObj = reactive({
  info: true,
  price: true,
});

const toggleHidden = (arg) => {
  hiddenObj[arg] = !hiddenObj[arg];
};

// const places = reactive([
//   {
//     title: 'Дом отдыха "Кашкаранцы"',
//     city: "Москва",
//     price: "15 000",
//     favorites: true,
//     new: true,
//   },
//   {
//     title: 'Дом отдыха "Кашкаранцы"',
//     city: "Москва",
//     price: "15 000",
//     favorites: false,
//     new: false,
//   },
//   {
//     title: 'Дом отдыха "Кашкаранцы"',
//     city: "Москва",
//     price: "15 000",
//     favorites: true,
//     new: true,
//   },
//   {
//     title: 'Дом отдыха "Кашкаранцы"',
//     city: "Москва",
//     price: "15 000",
//     favorites: false,
//     new: false,
//   },
//   {
//     title: 'Дом отдыха "Кашкаранцы"',
//     city: "Москва",
//     price: "15 000",
//     favorites: true,
//     new: true,
//   },
//   {
//     title: 'Дом отдыха "Кашкаранцы"',
//     city: "Москва",
//     price: "15 000",
//     favorites: false,
//     new: false,
//   },
// ]);
</script>

<script>
import { vkInit } from "@/helpers/vk.js";
export default {
  mounted() {
    vkInit();
  },
};
</script>

<style lang="stylus">
@import '@/assets/styles/vars.styl';
</style>