<template lang="pug">
section.place
  .container
    BreadCrumbs

  .container.container_mob-hide
    .place__wrapper.wrapper.wrapper_h-btw
      section.place__content
        h1.title_bigger.mb-32 Коттедж «Ультрасовременный домик»

        .place__controls.wrapper.mb-24
          button.btn.btn_control
            HeartIcon.icon.icon--small
            span.controls_middle Добавить в избранное

          button.btn.btn_control.loading
            ShareIcon.icon.icon--small
            span.controls_middle Поделиться

        SliderImg.mb-40(:images="images")

        .place__info.mb-40
          h2.title_up-middle.border-btm.mb-24 Коттедж «Ультрасовременный домик»
          p.text_middle.opacity-70 Красивое место на берегу озера в 20 минутах от метро для отдыха от городской суеты. Вы почувствуете комфорт, уют и практичность в каждой мелочи. В доме есть кондиционирование с очисткой воздуха, электрокамин, микроволновая печь, кофеварка, оборудованная кухня и т.д. По формату это дом с двумя спальнями, гостиной, санузлом и сауной. В доме есть профессиональная сауна. Сауна выложена с применением гималайской соли и яшмы для максимальной релаксации. Свой отдельный участок с мангалом и парковкой. Напротив участка красивое поле и лес, с другой стороны участка каскад Череповецких озер. Магазины, аптеки в двух минутах на авто. Автобусная остановка напротив дома.

        form.form.place__form.mb-40
          h3.title_middle.mb-24 Доступные номера
          .grid.grid_2.place__form-inner
            DataPicker(:multi-calendars="false", name="arrival" placeholder="Дата заезда")

            DataPicker(:multi-calendars="false", name="depart" placeholder="Дата выезда")

          .grid.grid_2.mb-32
            .form__label.wrapper.wrapper_h-btw
              p.controls_middle Взрослые

              .form__controls
                button.form__controls-btn.form__controls-btn--minus(disabled)
                  DecrementIcon.icon.icon--def
                p.form__controls-numb {{ adults }}
                button.form__controls-btn.form__controls-btn--plus 
                  IncrementIcon.icon.icon--def

            .form__label.wrapper.wrapper_h-btw
              p.controls_middle Дети

              .form__controls
                button.form__controls-btn.form__controls-btn--minu
                  DecrementIcon.icon.icon--def
                p.form__controls-numb {{ children }}
                button.form__controls-btn.form__controls-btn--plus 
                  IncrementIcon.icon.icon--def

          //- router-link.btn.btn_green.btn_block(:to="{ name: 'Reservation' }") Написать сообщение
          form.place__msg(ref="placeChat")
            button.place__msg-suggestion.btn.btn_green.btn_block(@click.prevent="openChat") Написать сообщение
            .place__msg-content 
              label.form__label.mr-16
                input.form__input(placeholder="Введите сообщение" required)
              button.place__msg-btn.btn.btn_green.btn_chat
                span.btn__content
                  span.btn__text(v-if="desktop") Отправить
                  TelegramIcon(v-else)
            
        .place__booking
          img.place__booking-img(:src="images[0]")

          .place__booking-box
            .place__booking-info
              h3.title_pre-middle.mb-16 Ультрасовременный домик для 2-6 гостей в Новой Москве

              .details
                .details__item
                  FoodIcon.icon.icon--small
                  span.controls_small без питания

                .details__item
                  ProfileIcon.icon.icon--small
                  span.controls_small 2+4 гостя

            .place__booking-bottom
              router-link.btn.btn_green.btn_link.mr-24(
                :to="{ name: 'Reservation' }"
              ) Забронировать
              span.title_pre-middle от 6 500 ₽/сутки

        .place__service.mb-48
          h3.title_middle.mb-24 Услуги

          ul.wrapper.place__service-list
            li.wrapper.wrapper_v-ctr.place__service-item.opacity-70
              CardIcon.icon.icon--def.mr-16
              span.place__services-text 1 км до моря
            li.wrapper.wrapper_v-ctr.place__service-item.opacity-70
              PlaneIcon.icon.icon--def.mr-16
              span.place__services-text 20 км до аэропорта и вокзала
            li.wrapper.wrapper_v-ctr.place__service-item.opacity-70
              CheckIcon.icon.icon--def.mr-16
              span.place__services-text Завтрак включен
            li.wrapper.wrapper_v-ctr.place__service-item.opacity-70
              WifiIcon.icon.icon--def.mr-16
              span.place__services-text Бесплатный wi-fi

        Accordion.mb-48

        .place__contacts
          h3.title_middle.mb-24 Контакты

          .wrapper
            .place__contacts-item
              a.controls_middle(href="tel:89998887766") 
                PhoneIcon.icon.icon--small.icon_green
                span +7 (999) 888 77 66

            //- .place__contacts-item
            //-   a.controls_middle(href="mailto:info@kaskaransi.ru") 
            //-     MailIcon.icon.icon--small.icon_green
            //-     span info@kaskaransi.ru

      aside.place__aside(v-if="desktop")
        h4.title_up-middle.mb-32 Вам может понравиться

        .grid.grid_1
          CardPlace(v-for="(place, i) of places", :key="i", :place="place")

        .place__question
          .place__question-box
            h6.title_middle.mb-24 Вы представитель турбазы
            p.text_middle.opacity-70 <router-link class='c-green' to="/">Перейдите по ссылке</router-link> <span>и получите доступ к&nbspуправлению данным объектом.</span>

          img.place__question-img(
            src="@/assets/images/details/question-bg.png"
          )

    .place__question(v-if="!desktop")
      .place__question-box
        h6.title_middle.mb-24 Вы представитель турбазы
        p.text_middle.opacity-70 <router-link class='c-green' to="/">Перейдите по ссылке</router-link> <span>и получите доступ к&nbspуправлению данным объектом.</span>

      img.place__question-img(src="@/assets/images/details/question-bg.png") 

  .container.container_mob-hide
    Suggestions(v-if="!desktop", title="Вам может понравиться", name="mightLike")

    Suggestions(title="Ранее просмотренные", name="lastPreview") 
</template>

<script setup>
import { useStore } from "vuex";
import { reactive, ref, computed } from "vue";
import SliderImg from "@/layout/sliders/SliderImg";
import Accordion from "@/layout/Accordion";
import CardPlace from "@/layout/cards/CardPlace";
import Suggestions from "@/components/Suggestions";
import DataPicker from "@/layout/DataPicker";
import BreadCrumbs from "@/layout/BreadCrumbs";
import {
  ShareIcon,
  HeartIcon,
  FoodIcon,
  ProfileIcon,
  CardIcon,
  DecrementIcon,
  IncrementIcon,
  // MailIcon,
  PhoneIcon,
  PlaneIcon,
  CheckIcon,
  WifiIcon,
  TelegramIcon
} from "@/layout/icon/index.js";

const store = useStore();
const desktop = computed(() => store.getters["common/getDesktop"]);
const placeChat = ref(null)
const adults = ref(0);
const children = ref(0);
const images = reactive([
  require("@/assets/images/slide.jpg"),
  require("@/assets/images/slide2.jpg"),
  require("@/assets/images/slide.jpg"),
  require("@/assets/images/slide2.jpg"),
  require("@/assets/images/slide.jpg"),
  require("@/assets/images/slide.jpg"),
]);

const closeChat = (e) => {
  if (e.target.offsetParent !== placeChat.value) {
    placeChat.value.classList.remove('active')
    window.removeEventListener('click', closeChat)
  } 
}

const openChat = () => {
  placeChat.value.classList.add('active')
  window.addEventListener('click', closeChat)
}

const places = reactive([
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: true,
    favorites: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: false,
    favorites: false,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: true,
    favorites: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: false,
    favorites: false,
  },
]);
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';
@import '@/assets/styles/mixins.styl';

.place {
  &__wrapper {
    align-items: flex-start;
  }

  &__content {
    max-width: 864px;
    width: 100%;
    border-radius: var(--radius-def);
    padding: var(--offset-up-mid);
    background-color: #fff;
    margin-right: 32px;

    @media $tablet {
      max-width: 100%;
    }

    @media $mobile {
      max-width: 100%;
      padding: 40px 24px;

      .grid_2 {
        grid-template-columns: repeat(1, 1fr);
      }

      .grid {
        grid-gap: 24px;
      }
    }
  }

  &__msg {
    position relative
    width 100%
    height 64px
    
    &-content {
      height: 100%
      display flex
      justify-content space-between
    }

    .form__input {
      margin-top 0
    }

    &-suggestion {
      position absolute
      left: 0
      top 0
      width 100%
      height 100%
      z-index 1
      transition opacity .3s
    }

    &.active {
      .place__msg-suggestion {
        opacity 0
        pointer-events none
      }
    }
  }

  @media $mobile {
    &__controls {
      display: block;
    }
  }

  .btn_control {
    &:first-child {
      margin-right: var(--offset-mid);
    }
  }

  &__form {
    @media $mobile {
      margin-bottom: 32px;
    }

    &-inner {
      margin-bottom: var(--offset-mid);
    }
  }

  &__booking {
    display: flex;
    min-height: 196px;
    margin-bottom: 53px;
    background-color: $gray;
    border-radius: var(--radius-def);

    @media $mobile {
      display: block;
    }

    &-img {
      max-width: 224px;
      width: 100%;
      object-fit: cover;
      border-radius: var(--radius-def);

      @media $mobile {
        max-width: 100%;
        max-height: 196px;
      }
    }

    &-bottom {
      @media $mobile {
        display: flex;
        flex-direction: column;

        .btn {
          text-align: center;
          order: 1;
        }

        .title_pre-middle {
          margin: 24px 0;
        }
      }
    }

    &-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: var(--offset-mid) var(--offset-up-mid);

      @media $mobile {
        padding: var(--offset-mid);
      }
    }

    .btn {
      line-height: 48px;
    }
  }

  &__contacts {
    &-item {
      @media $mobile {
        &:first-child {
          margin-bottom: 16px;
        }
      }

      svg {
        vertical-align: text-top;
        margin-right: 12px;
        stroke: $green;
      }
    }

    .wrapper {
      @media $mobile {
        display: block;
      }
    }
  }

  &__service {
    &-list {
      flex-wrap: wrap;
      margin-bottom: -16px;

      @media $mobile {
        display: block;
      }
    }

    &-item {
      margin-right: var(--offset-mid);
      margin-bottom: 16px;

      @media $mobile {
        margin-right: 0;
      }

      &:last-child {
        @media $mobile {
          margin-bottom: 0;
        }
      }
    }
  }

  &__conditions {
    margin-bottom: 48px;
  }

  &__question {
    border-radius: 16px;
    margin-top: 72px;
    overflow: hidden;
    background: #FFFFFF;

    @media $mobile {
      margin-top: 38px;
    }

    &-box {
      padding: 40px 40px 28px 40px;

      @media $mobile {
        padding: 40px 24px 16px 24px;
      }
    }

    &-img {
      width: 100%;
      height: 230px;
      object-fit: contain;
      object-position: center;

      @media $mobile {
        height: 267px;
      }
    }
  }
}
</style>