<template lang="pug">
section.reservation
  .container
    BreadCrumbs
    h1.title_bigger.mb-32 Бронирование №2397-93

  .container.container_mob-hide
    .reservation__content.wrapper
      .reservation__item 
        .reservation__item-header
          .alert.alert_wait
            p.controls_middle Ожидает подтверждения
          //- .alert.alert_success
          //-   p.controls_middle Подтверждено
          //- .alert.alert_error
          //-   p.controls_middle Отклонено

        router-link(:to="{name: 'Place'}")
          img.reservation__img(src="@/assets/images/slide.jpg")

        h2.title_up-middle.border-btm.mb-24 
          router-link(:to="{name: 'Place'}") Коттедж «Ультрасовременный домик»

        .details.mb-24
          .details__item
            FoodIcon.icon.icon--small
            span.controls_small без питания

          .details__item
            ProfileIcon.icon.icon--small
            span.controls_small 2+4 гостя

        .reservation__info(:class="{ full }")
          h3.title_middle.border-btm.mb-16 Детали бронирования

          .mb-24
            .wrapper.wrapper_h-btw.border-btm.mb-24
              .reservation__info-col
                h3.controls_small.mb-8.opacity-30 Заезд
                p.controls_middle.mb-4 пн, 7 июня 2022
                p.text_middle с 14:00

              .reservation__info-col
                h3.controls_small.mb-8.opacity-30 Отъезд
                p.controls_middle.mb-4 вс, 20 июня 2022
                p.text_middle до 12:00

            p.text_middle.mb-4 Общая длительность проживания
            p.controls_middle 13 ночей

          h3.title_middle.border-btm.mb-16 Стоимость

          .wrapper.wrapper_h-btw.wrapper.mb-16
            p.text_middle.opacity-70 20 000 ₽ х 13 ночей
            p.text_middle 260 000 ₽

          .wrapper.wrapper_h-btw.wrapper.mb-32
            p.text_middle.opacity-70 Скидка 25%
            p.text_middle - 65 000 ₽

          .total.wrapper.wrapper_h-btw
            p.text_middle.opacity-70 Итог
            p.text_middle 195 000 ₽

        button.reservation__content-btn.wth_arrow-down.btn_uncover(
          v-if="mobile",
          :class="{ active: full }"
          @click.prevent="toggleFullInfo",
        ) 
          span.controls_middle(v-if="!full") Смотреть подробнее
          span.controls_middle(v-else) Скрыть
          ArrowDownIcon.icon.icon--small


      .reservation__chat
        Chat
</template>

<script setup>
import { useStore } from "vuex";
import { FoodIcon, ProfileIcon, ArrowDownIcon } from "@/layout/icon/index.js";
import { ref, computed } from "vue";
import BreadCrumbs from "@/layout/BreadCrumbs";
import Chat from "@/components/Chat.vue";

const store = useStore();
const mobile = computed(() => store.getters["common/getMobile"]);
const full = ref(false);

const toggleFullInfo = () => {
  full.value = !full.value;
};
</script>

<style lang="stylus" scoped>
@import '@/assets/styles/vars.styl';

.reservation {
  &__content {
    align-items: flex-start
    
    @media $mobile {
      position: relative;
      display: block;

      &-btn {
        width 247px
        border-radius: 12px;
      }
    }
  }

  &__info {
    @media $mobile {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: height 0.3s, opacity 0.3s;

      &.full {
        height: auto;
        opacity: 1;
      }
    }
  }

  &__item {
    position: relative;
    max-width: 528px;
    width: 100%;
    margin-right: 32px;
    padding: 32px;
    border-radius: var(--radius-def);
    background-color: #FFFFFF;

    @media $mobile {
      max-width: 100%;
      margin-bottom: 48px;
      padding: 24px 24px 56px 24px;
    }

    &-header {
      position: absolute;
      top: 56px;
      left: 56px;

      @media $tablet {
        top: 48px;
        left: 48px;
      }
    }
  }

  &__chat {
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 282px;
    margin-bottom: 32px;
    border-radius: var(--radius-8);
    object-fit: cover;
    object-position: center;

    @media $mobile {
      margin-bottom: 24px;
    }
  }

  .total {
    background-color: #F5F5F5;
  }
}
</style>