<template lang="pug">
section.terms
  .container-mid
    BreadCrumbs
    .terms__inner
      h2.title_up-middle.mb-24 Пользовательское соглашение
      Accordion.accordion_white

    .terms__inner
      h2.title_up-middle.mb-24 Политика конфиденциальности
      Accordion.accordion_white
</template>

<script setup>
import Accordion from "@/layout/Accordion.vue";
import BreadCrumbs from "@/layout/BreadCrumbs";
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';

.terms__inner:nth-child(2) {
  margin-bottom: 48px;

  @media $mobile {
    margin-bottom: 56px;
  }
}
</style>