.drop-down
  position absolute
  z-index 5
  background-color #FFFFFF
  border-radius var(--radius-12)
  top 100%
  right -12px
  box-shadow 0px 19px 21px 14px rgba(0, 0, 0,  0.11)
  // box-shadow 0px 15px 39px -31px rgba(0, 0, 0, 0.11)
  overflow hidden
  opacity 0
  transition opacity .2s

  &::before
    content ''
    position absolute
    right 8px
    bottom 100%
    border-left 9px solid transparent
    border-right 9px solid transparent
    border-bottom 9px solid #fff

  &__btn
    width 100%
    display flex
    font-size 16px
    line-height 20px
    align-items center
    white-space nowrap
    padding 0 16px
    transition background-color .3s, height .3s 

  .icon
    margin-right 12px

  &__parent
    position relative

    .drop-down
      opacity 0
      height 0
      top 130%

      &__btn
        padding 6px 24px
        opacity .5
        white-space nowrap

        &.active
          opacity 1

    &.open
      .drop-down
        padding 10px 0
        opacity 1
        height auto  
        overflow visible

.header__profile
  .drop-down__btn
    height 0

    &:hover
      background-color #E6FEF4
    

  &:hover
    .drop-down
      height auto
      opacity 1

      &__btn
        height 56px