.filter {
  &__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 24px;
    background-color: #fff;
    transition box-shadow .3s


    @media $desktop {
      &:hover {
        box-shadow: 0px 8px 16px -10px rgba(16, 59, 0, 0.24);
      }
    }

    &.selected {
      box-shadow: 0px 8px 16px -10px rgba(16, 59, 0, 0.24);
      
      path,
      rect,
      circle {
        fill: $green;
        transition fill .3s, stroke .3s
      }

      .svg__inner-stroke {
        fill transparent 
        stroke $green
      }

      .svg__inner-white {
        fill transparent 
        stroke #ffffff
      }

      .svg__inner-stroke-fill {
        fill $green
        stroke $green
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__icon {
    path,
    rect,
    circle {
      transition fill .3s, stroke .3s
    }

    &-hide {
      width: 24px;
      height: 24px;
    }
  }

  &__list {
    margin-right: -16px;
    margin-bottom: -16px;

    &-item {
      display: inline-block;
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }

  .controls__small {
    margin-left: 8px;
  }
}