<template lang="pug">
router-link.popular__item(to="/popular-card")
  img.popular__item-img(src="@/assets/images/slide.jpg")
  .popular__item-info
    h2.controls_bigger.mb-8 Пироговское водохранилище
    p.text_middle.opacity-70 Тверская область
</template>


<style  scoped lang="stylus">
.popular {
  &__item {
    height: 288px;
    padding: 24px;
    border-radius: var(--radius-def);

    &-img {
      border-radius: var(--radius-def);
    }

    &:hover {
      .popular__item-img {
        transform: scale(1.1);
      }

      .text_middle {
        opacity: 1;
      }
    }
  }
}
</style>