<template lang="pug">
.card
  .card__alert(v-if="place.new")
    p.controls_middle NEW

  .card__alert.alert.alert_wait(v-if="place.draft")
    p.controls_middle Черновик

  button.card__favorites-btn(:class="{ selected: place.favorites }")
    HeartIcon.icon.icon_white.icon--def

  router-link(to="/place")
    .card__picture
      .card__picture-draft(v-if="place.draft")
      img.card__img(v-else, src="@/assets/images/card.jpg")

  .card__box
    router-link.card__title.controls_bigger.mb-8(to="/place") {{ place.title }}
    p.text_middle.mb-24.opacity-50 {{ place.city }}

    p.controls_bigger от {{ place.price }} ₽
      span.text_middle.opacity-50 /сутки
</template>

<script setup>
import { HeartIcon } from "@/layout/icon/index";
defineProps({
  place: Object,
});
</script>