<template lang="pug">
section.create
  .container
    BreadCrumbs
    h1.title_bigger.mb-32 Добавление объекта

  .container.container_mob-hide 
    .wrapper
      Aside(
        v-if="!mobile",
        :list="componentList",
        :active-index="currentComponent.id"
        @next-component="nextComponent",
        page="Create"
      )

      .create__inner
        .create__item(
          v-for="component in componentList",
          :key="component.id",
          :class="{ active: currentComponent.id === component.id, completed: mobile && component.filled }"
        )
          .create__item-header.wrapper.wrapper_v-ctr.wrapper_h-btw(
              @click="nextComponent(component.id, false)"
            )
            h2.create__item-title.title_up-middle {{ component.title }}

            CheckIcon.icon.icon--def(v-if="mobile")

          .create__content
            component.create__component(:is="component.name")
            .create__btns.grid.grid_2
              button.btn.btn_white(
                @click.prevent="nextComponent(component.id, true)"
              ) Сохранить как черновик

              button.btn.btn_green(
                v-if="component.id !== componentList.length - 1",
                @click.prevent="nextComponent(component.id, true)"
              ) Продолжить
              button.btn.btn_green(
                v-else
              ) Добавить объект
</template>


<script setup>
import { CheckIcon } from "@/layout/icon/index";
import { useStore } from "vuex";
import { onMounted, computed } from "vue";
import Aside from "@/components/Aside";
import tabComponents from "@/helpers/tabComponents/index";
import BreadCrumbs from "@/layout/BreadCrumbs";

const store = useStore();
const mobile = computed(() => store.getters["common/getMobile"]);
const { componentList, currentComponent, findComponent } =
  tabComponents("create", 0);
const heightcomponents = [];

const getHeights = () => {
  const allComponents = document.querySelectorAll(".create__content");

  allComponents.forEach((item, i) => {
    heightcomponents.push(item.clientHeight);

    if (i !== 0) {
      item.style.height = 0;
      item.style.minHeight = 0;
    } else {
      item.style.minHeight = item.clientHeight + "px";
    }
  });
};

const setHeight = (id) => {
  const allComponents = document.querySelectorAll(".create__content");
  const oldId = currentComponent.value.id;

  allComponents[oldId].style.minHeight = 0;
  allComponents[oldId].style.height = 0;

  allComponents[id].style.minHeight = heightcomponents[id] + "px";
  setTimeout(() => (allComponents[id].style.height = "auto"), 501);
};

const nextComponent = (id, next) => {
  const nextId = next ? ++id : id;

  if (mobile.value) {
    setHeight(nextId);
  }

  findComponent(nextId);
};

onMounted(() => {
  if (mobile.value) {
    getHeights();
  }
});
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';
</style>