<template lang="pug">
section.profile
  .container
    BreadCrumbs

    h1.title_bigger.mb-32 Профиль

  .container.container_mob-hide
    .wrapper.wrapper-h-btw
      Aside(
        :list="componentList",
        :active-index="currentComponent.id",
        @next-component="findComponent"
      )

      .profile__content
        transition(name="fade" mode="out-in")
          component(:is="currentComponent.name")
</template>

<script setup>
import Aside from "@/components/Aside";
import tabComponents from "@/helpers/tabComponents/index";
import BreadCrumbs from "@/layout/BreadCrumbs";

const props = defineProps({
  startIndex: {
    type: Number,
    default: 0
  }
})

const { componentList, currentComponent, findComponent } =
  tabComponents("profile", props.startIndex);
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';

.profile {
  &__content {
    width: 100%;
  }

  @media $mobile {
    .wrapper {
      display: block;
    }
  }
}
</style>