<template lang="pug">
aside.aside
  nav.aside__nav
    ul.aside__list
      li.aside__list-item(v-for="item in list" :key="item.id")
        button.aside__link.wrapper.wrapper_v-ctr(
          :class="{ active: activeIndex === item.id, error: 2 == item.id }",
          @click="$emit('next-component', item.id, false)"
        )
          component.icon.icon--def.mr-16(:is="item.icon" v-if="item.icon")
          span.aside__link-text.controls_middle {{ item.title }}
          .aside__link-icons(v-if="!mobile")
            CheckIcon.icon.icon--def.aside__link-ico(
              v-if="item.filled && 2 !== item.id && page === 'Create'"
            )
            .hint(
              v-if="2 == item.id && activeIndex == item.id && page === 'Create'"
              v-tooltip="{text: 'сервисное сообщение', theme: { placement: 'top' }}"
            )
              AlertInfoIcon.icon--def.hint__ico

            .notify-count(v-if="checkPage(item.title)")
              span.controls_small 1
</template>
<script setup>
import { computed } from "@vue/runtime-core";
import { CheckIcon, AlertInfoIcon } from "@/layout/icon/index";
import { useStore } from "vuex";
defineProps({
  list: Array,
  activeIndex: Number,
  page: String
});

defineEmits(['next-component'])

const pageWithMessages = ['Бронирования', 'Сообщения']

const checkPage = (pageName) => {
  if (pageWithMessages.includes(pageName)) {
    return true
  }
}

const store = useStore();
const mobile = computed(() => store.getters["common/getMobile"]);
</script>

<style scoped lang="stylus">
@import '@/assets/styles/vars.styl';
</style>