<template lang="pug">
.catalog
  .catalog__wrapper.mb-40 
    h3.title_up-middle {{ title }}

    .catalog__filter.wrapper
      p.controls_middle.opacity-50 Сортировать

      .catalog__sort.drop-down__parent(ref="dropDown")
        button.catalog__sort-btn(@click="toggleDropDown") 
          span.controls_middle {{ currentFilter.name }}

        ul.drop-down
          li.drop-down__item(v-for="(choice, i) in choices", :key="i")
            button.drop-down__btn(@click.prevent="changeFilter(i)", :class="{active: i === currentFilter.id}")
              span.drop-down__text {{ choice.name }}

      p.catalog__filter-total.controls_middle.opacity-50 Всего 220 092 объекта

  .grid.grid_3
    CardPlace(v-for="(place, i) in places", :key="i", :place="place")

  Loader
</template>


<script setup>
import { reactive, ref } from "@vue/reactivity";
import CardPlace from "@/layout/cards/CardPlace.vue";
import Loader from "@/layout/Loader.vue";
// import { onMounted } from "@vue/runtime-core";
defineProps({
  title: String,
});

const dropDown = ref(null);
const currentFilter = ref();

const choices = reactive([
  {
    id: 0,
    name: "по удаленности",
  },
  {
    id: 1,
    name: "Inactive",
  },
  {
    id: 2,
    name: "Inactive",
  },
  {
    id: 3,
    name: "Inactive",
  },
]);

const changeFilter = (i) => {
  currentFilter.value = choices[i];

  if (dropDown.value) {
    toggleDropDown();
  }
};

changeFilter(0);

const toggleDropDown = () => {
  if (dropDown.value.classList.contains("open")) {
    dropDown.value.classList.remove("open");
  } else {
    dropDown.value.classList.add("open");
  }
};

const places = reactive([
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: true,
    new: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: false,
    new: false,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: true,
    new: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: false,
    new: false,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: true,
    new: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: false,
    new: false,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: true,
    new: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    favorites: false,
    new: false,
  },
]);
</script>

<style scoped lang='stylus'>
// @import '@/assets/styles/mixins.styl'
@import '@/assets/styles/vars.styl';

.catalog {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media $mobile {
      display: block;
    }
  }

  &__filter {
    align-items: flex-end;
    margin-bottom: 4px;

    @media $mobile {
      flex-wrap: wrap;
      margin-top: 16px;
    }

    &-total {
      @media $mobile {
        width: 100%;
        order: -1;
        margin-bottom: 24px;
      }
    }
  }

  &__sort {
    margin: 0 32px 0 8px;

    &-btn {
      display: flex;
      align-items: center;

      &::after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 7px;
        margin-left: 8px;
        transition: transform 0.3s;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23222222' stroke-width='1.5'/%3E%3C/svg%3E%0A");
      }
    }

    &.open {
      .catalog__sort-btn::after {
        transform: rotate(180deg);
      }
    }
  }

  .loader {
    margin-top: 56px;
  }
}
</style>