<template lang="pug">
section.chat
  header.chat__header.wrapper.wrapper_h-btw.wrapper_v-ctr
    .chat__user.wrapper.wrapper_v-ctr
      img.chat__user-avatar(src="@/assets/images/avatar.jpg")

      .chat__user-info 
        p.controls_middle.mb-8 Александр Родничев
        p.text_small.opacity-50 Был в сети 40 минут назад

    
    button.chat__settings
      MenuIcon.icon.icon--def
      
  .chat__content 
    .chat__hint
      .chat__alert.chat__alert--success
        .chat__alert-header
          p.chat__alert-title.title_pre-middle Александр Родничев отправил запрос на проживание
          .hint(
            v-tooltip="{text: 'сервисное сообщение', theme: { placement: 'top' }}"
          )
            AlertInfoIcon.hint__ico.icon--def

        .chat__alert-content 
          p.text_middle Ознакомьтесь с деталями бронирования в боковом блоке и ответьте на запрос.

      .chat__alert.chat__alert--success
        .chat__alert-header
          p.chat__alert-title.title_pre-middle Запрос принят
          .hint(
            v-tooltip="{text: 'сервисное сообщение', theme: { placement: 'top' }}"
          )
            AlertInfoIcon.hint__ico.icon--def
        .chat__alert-content 
          p.text_middle 
            span Гость получил уведомление о подтверждении бронирования.
            span Теперь вы можете отправлять ему сообщения.

      .chat__alert.chat__alert--error
        .chat__alert-header
          p.chat__alert-title.title_pre-middle Запрос отклонен
          .hint(
            v-tooltip="{text: 'сервисное сообщение', theme: { placement: 'top' }}"
          )
            AlertInfoIcon.hint__ico.icon--def
        .chat__alert-content 
          p.text_middle 
            span Гость получил уведомление об отмене бронирования.

      .chat__alert.chat__alert--success
        .chat__alert-header
          p.chat__alert-title.title_pre-middle Внесите предоплату для подтверждения бронирования
          .hint(
            v-tooltip="{text: 'сервисное сообщение', theme: { placement: 'top' }}"
          )
            AlertInfoIcon.hint__ico.icon--def

        .chat__alert-content 
          p.controls_middle.mb-16 Итоговая стоимость проживания: 71 500 ₽
          p.controls_middle.mb-8 Предоплата (15%): 10 725 ₽
          p.controls_middle.mb-24 При заселении: 60 775 ₽

          p.text_middle В целях обеспечения гарантий предоплата поступит владельцу на следующий день после вашего заселения. <a class="c-green" href="#">Подробнее</a>
          
      .chat__alert.chat__alert--success
        .chat__alert-header
          p.chat__alert-title.title_pre-middle Внесите предоплату для подтверждения бронирования
          .hint(
            v-tooltip="{text: 'сервисное сообщение', theme: { placement: 'top' }}"
          )
            AlertInfoIcon.hint__ico.icon--def

        .chat__alert-content 
          button.btn.btn_green Отправить запрос повторно

      .chat__alert.chat__alert--success
        .chat__alert-header
          p.chat__alert-title.title_pre-middle Готовы рассмотреть другие варианты проживания?
          .hint(
            v-tooltip="{text: 'сервисное сообщение', theme: { placement: 'top' }}"
          )
            AlertInfoIcon.hint__ico.icon--def

        .chat__alert-content 
          button.btn.btn_white Перейти в каталог

      .chat__hint-btns.wrapper.wrapper_h-btw
        button.btn.btn_white Отклонить
        button.btn.btn_green Принять

    .chat__message.chat__message--left
      .chat__message-info.readed
        time.chat__message-time.text_small 15:52
      .chat__message-item
        p.text_middle Здравствуйте! Очень рады, что Вы выбрали наш коттедж. Будем рады вас принять.

    .chat__message.chat__message--right
      //- .chat__message-info.readed
      //-   time.chat__message-time.text_small 15:52
      .chat__message-item
        p.text_middle Здравствуйте! Очень рады, что Вы выбрали наш коттедж. Будем рады вас принять.
      .chat__message-info.readed
        time.chat__message-time.text_small 15:52

  form.form.chat__form
    //- p.text_middle Вы сможете отправлять сообщения после принятия запроса

    .wrapper.wrapper_h-btw
      label.form__label
        input.form__input(placeholder="Введите сообщение" required)

      button.btn.btn_green.btn_chat
        span.btn__text(v-if="desktop") Отправить
        TelegramIcon(v-else)
</template>

<script setup>
import { computed } from 'vue'
import { MenuIcon, TelegramIcon, AlertInfoIcon } from "@/layout/icon/index";
import { useStore } from "vuex";

const store = useStore();
const desktop = computed(() => store.getters["common/getDesktop"]);
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';
</style>