<template lang="pug">
footer.footer
  .container
    .footer__inner.grid.grid_4
      .footer__column.footer__column-logo
        p.text_middle © Официальный сайт nollo.ru, 2022 Все права защищены

        router-link.footer__link(:to="{ name: 'Home' }")
          LogoGreen.logo

      .footer__column
        h6.title_middle Контакты

        p.text_middle По всем имеющимся вопросам обращайтесь по электронной почте: <a class="c-green" href="mailto:info@nollo.ru">info@nollo.ru</a>

      .footer__column
        h6.title_middle Полезная информация

        nav.footer__nav
          ul.footer__list
            li.footer__list-item(v-for="(item, i) in links", :key="i")
              router-link.controls_middle(:to="{ name: item.link }") {{ item.title }}

      .footer__column
        h6.title_middle Расскажи о нас друзьям

        ul.social
          li.social__item
            a.btn.social__btn(href="#")
              VkIcon.icon.icon--small

          li.social__item
            a.btn.social__btn(href="#")
              OdnoklassnikiIcon.icon.icon--small
</template>

<script setup>
// import { reactive } from "vue";
import { VkIcon, OdnoklassnikiIcon, LogoGreen } from "@/layout/icon/index";
// const footerNav = reactive([
//   {
//     title: "О проекте",
//     link: "About",
//   },
//   {
//     title: "Добавить базу отдыха",
//     link: "Create",
//   },
//   {
//     title: "Регистрация",
//     link: "Authorization",
//   },
//   {
//     title: "Контакты",
//     link: "Contacts",
//   },
//   {
//     title: "Политика конфиденциальности",
//     link: "Terms",
//   },
//   {
//     title: "Пользовательское соглашение",
//     link: "Terms",
//   },
// ]);

const links = [
  {
    title: "Гланая",
    link: "Home",
  },
  {
    title: "Результат поиска",
    link: "Found",
  },
  {
    title: "Карточка объекта",
    link: "Place",
  },
  {
    title: "Бронирование (незарег)",
    link: "Booking",
  },
  {
    title: "Бронирование (зарег)",
    link: "Reservation",
  },
  {
    title: "Популярные места",
    link: "Popular",
  },
  {
    title: "Карточка популярн",
    link: "PopularCard",
  },
  {
    title: "Авторизация",
    link: "Authorization",
  },
  {
    title: "Профиль",
    link: "Profile",
  },
  {
    title: "Добавить объект",
    link: "Create",
  },
  {
    title: "Добавлено страница",
    link: "Added",
  },
  {
    title: "О нас",
    link: "About",
  },
  {
    title: "Контакты",
    link: "Contacts",
  },
  {
    title: "Политика",
    link: "Terms",
  },
];
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';

.content-white {
  .footer {
    background-color: $gray;
  }
}

.footer {
  position: relative;
  z-index: 10;
  margin-top: 80px;

  @media $mobile {
    border-top: 2px solid #E5E5E5;
  }

  &__inner {
    padding: 56px 0;
    border-top: 2px solid #E5E5E5;

    @media $mobile {
      grid-gap: 40px;
      padding: 40px 0;
      border-top: none;
    }
  }

  &__column {
    &-logo p{
      margin-top 2px
    }

    &:first-child {
      @media $mobile {
        order: 1;
      }
    }
  }

  &__link {
    display: inline-block;
    color: $green;
    margin-top: 11px;
  }

  .title_middle {
    margin-bottom: 16px;
  }

  &__list-item {
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }
  }
}
</style>