<template lang="pug">
header.header
  .container
    .header__inner
      button.header__burger(v-if="mobile", @click="toggleBurgerMenu")
        BurgerMenuIcon.header__burger-icon.header__burger-icon--lines
        CloseIcon.header__burger-icon.header__burger-icon--close.icon

      .header__wrapper
        router-link.header__wrapper(:to="{ name: 'Home' }")
          img.logo(src="@/assets/images/logo.svg")

          span.controls_middle.header__text(v-if="!mobile") Найди идеальное место для своего отдыха

        button.header__location.btn_location(
          v-if="!mobile"
        )
          MapIcon.mr-16
          span.controls_middle Москва

      .header__wrapper
        button.header__notify.mr-32.alarm
          NotifyIcon.icon.icon--small
          .notify-count

        .header__profile
          button.header__profile-default
            ProfileIcon.icon.icon--def.mr-16
            span.controls_middle(v-if="!mobile") Профиль

          //- button.header__wrapper.header__profile-user 
            img.header__profile-avatar(src="@/assets/images/avatar.jpg")
            p.controls_middle.ml-16 Александр Р.

          ul.drop-down
            li.drop-down__item
              button.drop-down__btn(v-if="route.name !== 'Profile'" @click.prevent="headerLink('Profile')")
                ProfileIcon.icon.icon--def
                span.drop-down__text Профиль
            li.drop-down__item
              button.drop-down__btn(
                @click.prevent="headerLink('Authorization')"
              )
                ProfileIcon.icon.icon--def
                span.drop-down__text Регистрация
            li.drop-down__item(v-if="route.name !== 'Profile'")
              button.drop-down__btn(
                @click.prevent="headerLink('Profile', 4)"
              )
                .header__notify.alarm.mr-12
                  MailIcon.icon.icon--def
                  .notify-count
                span.drop-down__text Мои сообщения
            li.drop-down__item(v-if="route.name !== 'Profile'")
              button.drop-down__btn(
                @click.prevent="headerLink('Profile', 3)"
              )
                .header__notify.alarm.mr-12
                  CalendarIcon.icon.icon--def
                  .notify-count
                span.drop-down__text Мои бронирования
            li.drop-down__item
              button.drop-down__btn 
                GetOutIcon.icon.icon--def
                span.drop-down__text Выйти

        ul.social(v-if="!mobile")
          li.social__item
            a.btn.social__btn(href="#")
              VkIcon.icon.icon--small
          li.social__item
            a.btn.social__btn(href="#")
              OdnoklassnikiIcon.icon.icon--small
</template>

<script setup>
import {
  ProfileIcon,
  OdnoklassnikiIcon,
  VkIcon,
  BurgerMenuIcon,
  MapIcon,
  CloseIcon,
  GetOutIcon,
  MailIcon,
  CalendarIcon,
  NotifyIcon
} from "@/layout/icon/index";
import { useRouter, useRoute } from "vue-router";
import { useStore } from "vuex";
import { computed } from "@vue/runtime-core";

const store = useStore();
const router = useRouter();
const route = useRoute();

const mobile = computed(() => store.getters["common/getMobile"]);

const headerLink = (src, props) => {
  let obj = { name: src };

  if (props) {
    obj.params = {startIndex: props}
  }

  router.push(obj);
};

const toggleBurgerMenu = () => {
  if (document.body.classList.contains("burger-open")) {
    document.body.classList.remove("burger-open");
  } else {
    document.body.classList.add("burger-open");
  }
};
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';
@import '@/assets/styles/mixins.styl';
</style>

