<template lang="pug">
section.not-found
  .not-found__content
    img.not-found__img(:src="currentImg")
    p.text_middle {{ currentPage.text }}

    router-link.btn.btn_green.btn_link(v-if="currentPage.href" :to="{name: currentPage.href}") Добавить турбазу
</template>

<script setup>
import { reactive } from "@vue/reactivity";
import { computed } from "@vue/runtime-core";
const props = defineProps({
  pageInfo: String,
});

const currentImg = computed(() => {
  return require(`@/assets/images/404/${notFoundeds[props.pageInfo].img}.png`);
})

const notFoundeds = reactive({
  favorites: {
    img: "favorites",
    text: "Отмечайте понравившиеся отели сердечком, так вы сможете быстрее находить их в списке.",
    href: undefined,
  },
  places: {
    img: "my-places",
    text: "Вы еще не добавили ни одного объекта.",
    href: "Create",
  },
  booking: {
    img: "favorites",
    text: "Когда вам отправят запрос на проживание, он появится в этом разделе",
    href: undefined,
  },
  empty: {
    img: "empty",
    text: "Ничего не найдено Попробуйте изменить параметры поиска",
    href: undefined,
  },
});

const currentPage = computed(() => {
  return notFoundeds[props.pageInfo]
})
</script>

<style scoped lang='stylus'>
.not-found {
  &__content {
    max-width: 416px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &__img {
    width: 100%;
    height: 216px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 24px;
  }

  .btn {
    margin-top: 24px;
  }
}
</style>