<template lang="pug">
section.suggestions
  .suggestions__head
    h4.title_up-middle.mb-40 {{ title }}

  SliderCards(type="place", :name="name")
</template>

<script setup>
import SliderCards from "@/layout/sliders/SliderCards.vue";

defineProps({
  title: String,
  name: String
});
</script>
