<template lang="pug">
section.create__address
  //- h2.create__component-title.title_up-middle Фотографии

  .create__component-inner
    p.text_middle.opacity-50.mb-24 Создайте галерею фотографий и отметьте одну, которая будет отображаться в карточке
    .grid.grid_2.mb-32 
      custom-select(name="Country", label="Страна")

      custom-select(name="Region", label="Область")

    .grid.grid_2.mb-32
      v-input(label="Город или населенный пункт", type="text", name="city")

      v-input(
        label="Удаленность от населенного пункта, км",
        type="text",
        name="range"
      )

    .wrapper.wrapper_h-btw.mb-40
      v-input.form__wrapper-street(label="Улица", type="text", name="street")

      v-input.form__wrapper-home(label="Дом", type="text", name="bilding") 

    MapSingle.create__address-map
</template>

<script setup>
import MapSingle from "@/components/maps/MapSingle";
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';

.create__address {
  .form__wrapper {
    width: 100%;

    &-street {
      max-width: 100%;
      margin-right: 32px;

      @media $mobile {
        margin-right: 0;
        margin-bottom: 24px;
      }
    }

    &-home {
      max-width: 304px;

      @media $mobile {
        max-width: 100%;
      }
    }
  }

  &-map {
    height: 280px;
    margin-bottom: 56px;
    border-radius: 16px;

    @media $mobile {
      margin-bottom: 32px;
    }
  }

  @media $mobile {
    .wrapper {
      display: block;
    }

    .grid {
      grid-gap: 24px;
      margin-bottom: 24px;
    }
  }
}
</style>