<template lang="pug">
section.create__contacts
  //- h2.create__component-title.title_up-middle Контактные данные

  .create__component-inner
    p.text_middle.opacity-50.mb-24 Оставьте удобные виды связи с гостями
    ul.create__contacts-list.mb-24
      li.create__contacts-item(v-for="(contact, i) in contacts" :key="i")
        custom-select(:name="'Type' + contact.id" label="Тип")
        
        v-input(label="Контакт", type="text", :name="'contact' + contact.id")

        button.create__contacts-delete(v-if="i!== 0")
          TrashIcon.icon.icon--def.icon_red

    button.btn.btn_control.btn_black
      PlusIcon.icon.icon--small
      span Добавить еще контакт
    
</template>

<script setup>
import { PlusIcon, TrashIcon } from "@/layout/icon/index";
import { reactive } from "vue";

const contacts = reactive([
  {
    id: 1,
    type: '',
    contact: '' 
  },
  {
    id: 2,
    type: '',
    contact: '' 
  }
])
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl'
.create__contacts {
  &-item {
    display flex
    justify-content space-between
    margin-bottom 32px

    &:last-child {
      margin-bottom 0
    }

    @media $mobile {
      flex-wrap: wrap
    }

    .form__wrapper {
      max-width 49%
      width 100%

      @media $mobile {
        max-width: 100%
        order 3
      }
    }

    .select {
      max-width 49%
      margin-right 32px
      flex-shrink: 0

      @media $mobile {
        max-width: 85%
        margin-right 0
        margin-bottom 24px
        order: 1
      }
    }

    &:first-child .select{
      @media $mobile {
        max-width: 100%
      }
    }
  }

  &-delete {
    margin-left 32px


    @media $mobile {
      float right
      margin-left 0
      margin-bottom 24px
      order 2
    }
  }
}
</style>