<template lang="pug">
section.create__data
  p.text_middle.opacity-50.mb-24 Укажите только название объекта, не добавляя слова "турбаза" или "база отдыха"
  .grid.grid_2.mb-32
    v-input(label="Наименование", type="text", name="namePlace")

    custom-select(name="TypeObject" label="Вид объекта")

  v-message(label="Сообщение")  
</template>

<style setup lang='stylus'>
.create__data {
  .form__description {
    height: 200px;
    min-height: 200px;
  }
}
</style>