<template lang="pug">
section.create__info
  //- h2.create__component-title.title_up-middle Информация для гостей

  .create__component-inner
    p.text_middle.opacity-50.mb-24 Последний этап добавления объекта, который поможет гостям узнать больше об условиях вашей турбазы
    v-message(label="Сообщение")

    v-message(label="Сообщение")

    h3.title_middle.mb-24 Сезон работы

    ul.create__info-list.mb-40
      li.create__info-item.mb-24 
        label.form__label-radio
          input.form__radio(type="radio" name="esfs")
          span.controls_middle Круглогодично

      li.create__info-item.mb-24 
        label.form__label-radio
          input.form__radio(type="radio" name="esfs")
          span.controls_middle В теплое время года

      li.create__info-item
        label.form__label-radio
          input.form__radio(type="radio" name="esfs")
          span.controls_middle В теплое время года и новогодние праздники

    h3.title_middle.mb-24 Условия заселения

    custom-select(name="Period" label="Минимальный срок бронирования").mb-32

    .grid.grid_2
      custom-select(name="CheckInTime" label="Время заезда")

      custom-select(name="CheckOutTime" label="Время выезда")
</template>

<style scoped lang='stylus'>
.create__info {
  .form__description {
    height: 200px;
    min-height: 200px;
    margin-bottom 32px
  }
}
</style>