<template lang="pug">
section.create__photos
  //- h2.create__component-title.title_up-middle Фотографии

  .create__component-inner
    p.text_middle.opacity-50.mb-24 Создайте галерею фотографий и отметьте одну, которая будет отображаться в карточке
    DropFiles
</template>

<script setup>
import DropFiles from '@/layout/DropFiles.vue'
</script>
