<template lang="pug">
section.rooms
  //- h2.create__component-title.title_up-middle Контактные данные

  .create__component-inner
    p.text_middle.opacity-50.mb-24 Оставьте удобные виды связи с гостями
    .rooms__content
      .rooms__item
        .wrapper.wrapper_h-btw.wrapper_v-ctr
          h3.title_pre-middle Номер №1

          button.btn.btn_control.btn_red
            TrashIcon.icon.icon--small
            span  Удалить

        .grid.grid_2.mb-32
          v-input(label="Наименование", type="text", name="name")
          
          custom-select(name="AmountGuests" label="Количество гостей")

        .rooms__details.grid.grid_4.mb-32
          custom-select(name="AmountMeals" label="Питание")

          v-input(label="Стоимость", type="text", name="cost")
        
          custom-select.rooms__details-number(name="AmountRooms" label="Количество номеров класса")
        
        v-message.mb-32(label="Сообщение")

        DropFiles.mb-32(rooms)

    button.btn.btn_control
      PlusIcon.icon.icon--small
      span Добавить еще номер
    
</template>

<script setup>
import { PlusIcon, TrashIcon } from "@/layout/icon/index";
import DropFiles from '@/layout/DropFiles.vue'
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';

.rooms
  .form__description {
    height: 112px;
    min-height: 112px;
  }

  &__details {
    &-number {
      grid-column-start: 3;
      grid-column-end: 5;
      
      @media $tablet {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      @media $mobile {
        grid-column-end: 2;
      }
    }

    @media $tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @media $mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>