<template lang="pug">
section.create__waters
  //- h2.create__component-title.title_up-middle Близлежащие водоемы

  .create__component-inner
    p.text_middle.opacity-50.mb-24 В случае, если водоемов поблизости нет, можете пропустить этот шаг
    ul.create__waters-list
      li.grid.grid_2.mb-32
        v-input(label="Река, море или озеро", type="text", name="river")

        v-input(label="Удаленность от берега, м", type="text", name="riverRage")

    button.btn.btn_control.btn_black
      PlusIcon.icon.icon--small
      span Добавить еще водоем
    
</template>

<script setup>
import { PlusIcon } from "@/layout/icon/index";
</script>