<template lang="pug">
.authorization__wrapper
  .authorization__inner
    .authorization__content-header(v-if="ss")
      h2.title_bigger.mb-16 Добро пожаловать
      p.text_bigger.opacity-50 Введите номер для продолжения работы
    .authorization__content-header(v-else)
      h2.title_bigger.mb-16 Регистрация
      p.text_bigger.opacity-50 Введите свои данные

    form.authorization__form(v-if="ss")
      v-input.mb-24(
        icon="phone",
        label="Телефон",
        type="text",
        name="phone"
      )

      //- v-input(icon="lock", label="Пароль", type="password", name="password")

      //- button.authorization__recover(@click.prevent="$emit('recoveryGetIn')")
      //-   RefreshIcon.icon.icon--def.icon_green
      //-   p.controls_middle.opacity-70 Восстановить пароль

      button.authorization__sub.btn.btn_green(@click.prevent="$emit('recoveryGetIn')")
        span.btn__content Далее

    form.authorization__form(v-if="!ss")
      v-input.mb-24(
        icon="profile",
        label="Имя и фамилия",
        type="text",
        name="name"
      )

      v-input.mb-24(
        icon="mail",
        label="Телефон или e-mail",
        type="text",
        name="email"
      )

      v-input.mb-24(
        icon="lock",
        label="Пароль",
        type="password",
        name="password"
      )

      v-input(
        icon="lock",
        label="Повторите пароль",
        type="password",
        name="passwordRepeat"
      )

      .authorization__form-checkboxes
        .authorization__form-checkbox.mb-16
          label.form__checkbox-label
            input.form__checkbox(type="checkbox", value="", name="kk")
            span Согласен с <a href="#" class="c-green"> правилами сервиса</a>

        .authorization__form-checkbox
          label.form__checkbox-label
            input.form__checkbox(type="checkbox", value="", name="kk")
            span.controls_middle Я представитель турбазы

      button.authorization__sub.btn.btn_green 
        span.btn__content Зарегистрироваться

    .authorization__helper
      span.text_middle.authorization__helper-text.mb-24 или войти с помощью

      ul.social
        li.social__item
          button.btn.social__btn
            VkIcon.icon.icon--def
        li.social__item
          button.btn.social__btn
            OdnoklassnikiIcon.icon.icon--def
        li.social__item
          button.btn.social__btn
            GoogleIcon.icon.icon--def

    //- p.authorization__reg.text_bigger(v-if="ss")
    //-   span.authorization__reg-text Еще нет аккаунта?
    //-   button.authorization__reg-btn Регистрация
    //- p.authorization__reg.text_bigger(v-else)
    //-   span.authorization__reg-text Уже есть аккаунт?
    //-   button.authorization__reg-btn Вход
</template>

<script setup>
import {
  // ProfileIcon,
  // LockIcon,
  // MailIcon,
  // CloseIcon,
  // RefreshIcon,
  VkIcon,
  GoogleIcon,
  OdnoklassnikiIcon,
} from "@/layout/icon/index";

const ss = true;
</script>