<template lang="pug">
.authorization__wrapper.recovery
  .authorization__inner
    button.btn__back.btn.btn_black(@click.prevent="$emit('recoveryGetOut')")
      ArrowPrevIcon.icon.icon--def.mr-16
      span.controls_bigger Назад

    //- .recovery__block
    //-   .authorization__content-header
    //-     h2.title_bigger.mb-16 Восстановление пароля
    //-     p.title_middle.opacity-70.mb-16 sample@email.ru
    //-     p.text_bigger.opacity-50 Мы отправили вам инструкцию по восстановлению пароля на e-mail

    //-   button.authorization__sub.btn.btn_green 
    //-     span.btn__content Ввести новый пароль

    //- .recovery__block
    //-   .authorization__content-header
    //-     h2.title_bigger.mb-16 Восстановление пароля
    //-     p.text_bigger.opacity-50 Мы отправим вам инструкцию по восстановлению пароля на e-mail

    //-   form.authorization__form
    //-     v-input.mb-24(
    //-       icon="profile",
    //-       label="Телефон или e-mail",
    //-       type="text",
    //-       name="mailRecovery"
    //-     )

    //-     button.authorization__sub.btn.btn_green 
    //-       span.btn__content Восстановить

    .recovery__block
      .authorization__content-header
        h2.title_bigger.mb-16 Введите код из смс
        //- p.title_middle.opacity-70.mb-40 sample@email.ru

      form.authorization__form
        v-input.mb-24(
          icon="lock",
          label="Код",
          type="password",
          name="passwordRecovery"
        )

        //- v-input.mb-40(
        //-   icon="lock",
        //-   label="Повторите пароль",
        //-   type="password",
        //-   name="passwordRecoveryRepeat"
        //- )

        button.authorization__sub.btn.btn_green 
          span.btn__content Войти
</template>

<script setup>
import { ArrowPrevIcon } from "@/layout/icon/index";
</script>

<style scoped>
.recovery__block {
  margin-bottom: 100px;
}
.btn__back {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
</style>