<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3 13.5152L6.75 10"
      stroke="#222222"
      stroke-width="2"
      stroke-linecap="round"
    />
    <path
      d="M9.75 13.5152L13.5 10"
      stroke="#222222"
      stroke-width="2"
      stroke-linecap="round"
    />
    <path
      d="M16.5 13.5152L20.25 10"
      stroke="#222222"
      stroke-width="2"
      stroke-linecap="round"
    />
  </svg>
</template>