<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6.18144 7.18144C4.60619 8.75669 4.60619 11.6054 6.18144 13.1806L12.2913 18.6769L12.3333 18.6349L12.3754 18.6769L18.4853 13.1807C20.0605 11.6054 20.0605 8.75674 18.4853 7.18149C16.91 5.60624 14.356 5.60624 12.7808 7.18149L12.6869 7.27534C12.4917 7.4706 12.1751 7.4706 11.9798 7.27534L11.8859 7.18144C10.3107 5.60619 7.75669 5.60619 6.18144 7.18144Z"
      fill="#222222"
    />
  </svg>
</template>