<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      cx="11.914"
      cy="12.0429"
      r="5.49599"
      stroke="#222222"
      stroke-width="1.5"
      class="svg__inner-stroke"
    />
    <circle cx="11.9143" cy="12.0432" r="3.50802" fill="#222222" />
    <path
      d="M11.25 6.05348C11.25 6.46769 11.5858 6.80348 12 6.80348C12.4142 6.80348 12.75 6.46769 12.75 6.05348L11.25 6.05348ZM12.75 4C12.75 3.58579 12.4142 3.25 12 3.25C11.5858 3.25 11.25 3.58579 11.25 4L12.75 4ZM12.75 6.05348L12.75 4L11.25 4L11.25 6.05348L12.75 6.05348Z"
      fill="#222222"
    />
    <path
      d="M11.25 19.9998C11.25 20.414 11.5858 20.7498 12 20.7498C12.4142 20.7498 12.75 20.414 12.75 19.9998L11.25 19.9998ZM12.75 17.9463C12.75 17.5321 12.4142 17.1963 12 17.1963C11.5858 17.1963 11.25 17.5321 11.25 17.9463L12.75 17.9463ZM12.75 19.9998L12.75 17.9463L11.25 17.9463L11.25 19.9998L12.75 19.9998Z"
      fill="#222222"
    />
    <path
      d="M17.9465 11.25C17.5323 11.25 17.1965 11.5858 17.1965 12C17.1965 12.4142 17.5323 12.75 17.9465 12.75L17.9465 11.25ZM20 12.75C20.4142 12.75 20.75 12.4142 20.75 12C20.75 11.5858 20.4142 11.25 20 11.25L20 12.75ZM17.9465 12.75L20 12.75L20 11.25L17.9465 11.25L17.9465 12.75Z"
      fill="#222222"
    />
    <path
      d="M4.00024 11.25C3.58602 11.25 3.25024 11.5858 3.25024 12C3.25024 12.4142 3.58602 12.75 4.00024 12.75L4.00024 11.25ZM6.05371 12.75C6.46792 12.75 6.80371 12.4142 6.80371 12C6.80371 11.5858 6.46792 11.25 6.05371 11.25L6.05371 12.75ZM4.00024 12.75L6.05371 12.75L6.05371 11.25L4.00024 11.25L4.00024 12.75Z"
      fill="#222222"
    />
  </svg>
</template>
