<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M4.5 11V9.49997C4.5 9.22383 4.72386 8.99997 5 8.99997H5.5C9.1 6.59997 14.3333 7.99997 16.5 8.99997H17C17.2761 8.99997 17.5 9.22383 17.5 9.49997V11C17.5 11.2761 17.2761 11.5 17 11.5H16.5L16.117 12.649C16.0415 12.8755 15.8875 13.0675 15.6828 13.1903L15.0536 13.5678C14.1197 14.1282 12.9357 14.0485 12.0852 13.3681C11.4508 12.8606 10.5492 12.8606 9.9148 13.3681C9.0643 14.0485 7.88033 14.1282 6.94637 13.5678L6.31721 13.1903C6.11251 13.0675 5.95851 12.8755 5.88302 12.649L5.5 11.5H5C4.72386 11.5 4.5 11.2761 4.5 11Z"
      fill="#222222"
      stroke="#222222"
      stroke-linecap="round"
      class="svg__inner-stroke-fill"
    />
    <path
      d="M11.1094 16.2308H11.9983M12.8872 16.2308H11.9983M11.9983 16.2308V16.2308C11.9983 17.7602 13.2381 19 14.7675 19H15.9984C18.2077 19 19.9986 17.2091 19.9986 14.9998V7"
      stroke="#222222"
      stroke-width="2"
      stroke-linecap="round"
      class="svg__inner-stroke"
    />
  </svg>
</template>