<template lang="pug">
.slider
  .slider__bg(@click="closePopupSlider")
  button.slider__close(@click="closePopupSlider")
    CloseIcon.icon.icon--def
  .slider__content
    .slider__show
      .slider__show-item(
        v-for="(image, id) of images",
        :key="id",
        :class="`slider__show-item--${id}`"
      )
        button.slider__resize(@click="openPopupSlider")
          ResizeIcon.icon.icon--def

        img.slider__show-img(:src="image")

    .slider__swiper.swiper-container.hidden(ref="calendarSliderRef")
      .swiper-wrapper
        .swiper-slide.slider__slide(
          v-for="(item, i) of images",
          :key="i",
          @click="switchBackground(i)"
        )
          img.slider__img(:src="item")

      button.swiper-button-prev(v-if="!mobile")
      button.swiper-button-next(v-if="!mobile")
</template>

<script setup>
import { onMounted, onBeforeUnmount, ref, reactive, computed } from "vue";
import Swiper, { Navigation } from "swiper";
import { CloseIcon, ResizeIcon } from "@/layout/icon/index";
import { useStore } from "vuex";
import "swiper/css";
import "swiper/css/navigation";

defineProps({
  images: Array,
});
const store = useStore();
const mobile = computed(() => store.getters["common/getMobile"]);
let swaper;
const calendarSliderRef = ref(null);
const options = reactive({
  slidesPerView: 4,
  mousewheel: true,
  spaceBetween: 32,
  direction: "horizontal",
  modules: [Navigation],
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
});

const optionsMob = reactive({
  slidesPerView: 2.5,
  mousewheel: false,
  spaceBetween: 16,
  direction: "horizontal",
});

const closePopupSlider = () => {
  document.body.classList.remove("open");
  calendarSliderRef.value.classList.add("hidden");

  if (mobile.value) {
    swaper.params.slidesPerView = 2.5;
  } else {
    swaper.params.direction = "horizontal";
  }
  // swaper.update()
};

const openPopupSlider = () => {
  document.body.classList.add("open");
  calendarSliderRef.value.classList.remove("hidden");

  if (mobile.value) {
    swaper.params.slidesPerView = 1;
    // swaper.params.spaceBetween = 0;
  } else {
    swaper.params.direction = "vertical";
  }
  // swaper.update()
};

const closePopupForKey = (e) => {
  if (e.keyCode === 27 && document.body.classList.contains("open")) {
    closePopupSlider();
  }
};

const switchBackground = (id) => {
  document.querySelectorAll(`.slider__show-item`).forEach((item) => {
    item.classList.remove("show");
  });
  document.querySelector(`.slider__show-item--${id}`).classList.add("show");
};

onMounted(() => {
  if (!mobile.value) {
    window.addEventListener("keydown", closePopupForKey);
    swaper = new Swiper(calendarSliderRef.value, options);
  } else {
    swaper = new Swiper(calendarSliderRef.value, optionsMob);
  }

  switchBackground(0);
});

onBeforeUnmount(() => {
  window.removeEventListener("keydown", closePopupForKey);
});
</script>