<template lang="pug">
.suggestions__content(:class="suggestionSlider")
  .suggestions__slider.slider__swiper
    .swiper-wrapper
      .suggestions__slide.swiper-slide(
        v-for="(item, i) of places",
        :key="i"
      )
        component(:is="currentComponent" :place="item")

  button.swiper-button-prev(v-if="!mobile")
  button.swiper-button-next(v-if="!mobile")
</template>

<script setup>
import {reactive, computed, onMounted, ref} from 'vue'
import { useStore } from "vuex";
import CardPlace from "@/layout/cards/CardPlace";
import CardPopular from "@/layout/cards/CardPopular";
import Swiper, { Navigation } from "swiper";
import "swiper/css";
import "swiper/css/navigation";

const props = defineProps({
  type: String,
  name: String
})

const componentsList = reactive({
  place: CardPlace,
  popular: CardPopular
})

const store = useStore();
const mobile = computed(() => store.getters["common/getMobile"]);
const currentComponent = computed(() => componentsList[props.type])
const suggestionSlider = ref(props.name)

const options = reactive({
  slidesPerView: 3,
  mousewheel: true,
  spaceBetween: 32,
  direction: "horizontal",
  modules: [Navigation],
  navigation: {
    nextEl: `.${suggestionSlider.value} .swiper-button-next`,
    prevEl: `.${suggestionSlider.value} .swiper-button-prev`,
  },
});

const optionsMob = reactive({
  slidesPerView: 1.5,
  mousewheel: true,
  spaceBetween: 24,
  direction: "horizontal",
});

onMounted(() => {
  if (mobile.value) {
    new Swiper(document.querySelector(`.${suggestionSlider.value} .suggestions__slider`), optionsMob);
  } else {
    new Swiper(document.querySelector(`.${suggestionSlider.value} .suggestions__slider`), options);
  }
});

const places = reactive([
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: true,
    favorites: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: false,
    favorites: false,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: true,
    favorites: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: false,
    favorites: false,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: true,
    favorites: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: false,
    favorites: false,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: true,
    favorites: true,
  },
  {
    title: 'Дом отдыха "Кашкаранцы"',
    city: "Москва",
    price: "15 000",
    new: false,
    favorites: false,
  },
]);
</script>