$inter = 'Inter'

$green = #06CC79
$gray = #F5F5F5
$black = #222222
$red = #F72921

$mobile = '(max-width:1024px)'
$desktop = '(min-width:1440px)'
$tablet = '(max-width:1439px)'

$ios = '(-webkit-overflow-scrolling: touch)'

$ie = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'

:root {
  --offset-small: 8px
  --offset-pre-mid: 16px
  --offset-mid: 24px
  --offset-up-mid: 32px
  --offset-big: 40px

  --radius-def: 16px
  --radius-12: 12px
  --radius-8: 8px

  --heigth-elems: 64px
}