<template lang="pug">
.burger-menu
  .burger-menu__content
    .burger-menu__inner
      button.burger-menu__location(to="/")
        //- ProfileIcon.icon.icon--small.mr-16
        MapIcon.mr-16
        span.controls_middle Москва

      ul.burger-menu__list
        li.burger-menu__item(v-for="(item, i) in burgerList", :key="i")
          button.burger-menu__link(
            @click.prevent="following(item.route, item?.props)"
          )
            component.icon.icon--small.mr-16(:is="item.ico")
            span.controls_middle {{ item.title }}

    .burger-menu__social
      p.controls_middle Наши социальные сети

      ul.burger-menu__list
        li.burger-menu__social-item
          a.burger-menu__social-link(href="#")
            VkIcon.icon.icon--small

        li.burger-menu__social-item
          a.burger-menu__social-link(href="#")
            OdnoklassnikiIcon.icon.icon--small
</template>

<script setup>
import {
  ProfileIcon,
  SearchIcon,
  PhoneIcon,
  CardIcon,
  OdnoklassnikiIcon,
  VkIcon,
  MapIcon,
} from "@/layout/icon/index";

import { useRouter } from "vue-router";
// import { useStore } from "vuex";
// import { computed } from "@vue/runtime-core";

// const store = useStore();
const router = useRouter();

// const mobile = computed(() => store.getters["common/getMobile"]);

// const logIn = () => {
//   router.push({ name: "Authorization" });
// };

const burgerList = [
  {
    title: "Профиль",
    route: "Profile",
    ico: ProfileIcon,
  },
  {
    title: "Каталог",
    route: "Found",
    ico: CardIcon,
    props: {
      title: "Каталог",
    },
  },
  {
    title: "Поиск",
    route: "Found",
    ico: SearchIcon,
    props: {
      title: "Результаты поиска",
    },
  },
  {
    title: "Контакты",
    route: "Contacts",
    ico: PhoneIcon,
  },
];

const following = (routerName, params) => {
  document.body.classList.remove("burger-open");
  let route = {
    name: routerName,
  };

  if (params) {
    route.params = params;
  }

  router.push(route);
};
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';

.burger-menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 31;
  width: 0;
  min-height: 100vh
  max-height: 600px
  overflow: hidden;
  opacity: 0;
  transition: width 0.3s, opacity 0.2s;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    padding: 110px 0 28px;
    background-color: #fff;

    &::after {
      content: '';
      position: absolute;
      left: 100%;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(34, 34, 34, 0.48);
    }
  }

  &__item {
    border-bottom: 2px solid $gray;

    &:first-child {
      border-top: 2px solid $gray;
    }
  }

  &__link {
    display: flex;
    width: 100%;
    padding: 24px;
  }

  &__location {
    margin-bottom: 38px;
    padding: 0 24px;
  }

  &__social {
    margin-left: 24px;

    .controls_middle {
      margin-bottom: 12px;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-left: 12px;
      background-color: $gray;
      border-radius: 8px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
</style>