<template lang="pug">
.calendar(ref="currentCalendar")
  span.form__placeholder {{ placeholder }}
  Datepicker(
    v-model="picked",
    :clearable="true",
    month-name-format="long",
    locale="ru",
    :range="multiCalendars",
    :multi-calendars="multiCalendars",
    auto-apply,
    required,
    label="tttt"
    :min-date="new Date()",
    :enable-time-picker="false",
    position="left"
  )
    template(#arrow-right)
      ArrowRightCalendar.slot-icon
    template(#arrow-left)
      ArrowLeftCalendar.slot-icon
    template(#input-icon)
      CalendarIcon.icon.icon--def.input-slot-image
  
</template>


<script setup>
import { ref, watch } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import {
  CalendarIcon,
  ArrowLeftCalendar,
  ArrowRightCalendar,
} from "@/layout/icon/index";

const props = defineProps({
  multiCalendars: Boolean,
  placeholder: String,
  name: String
});

const currentCalendar = ref(props.name);
const picked = ref();

watch(picked, () => {
  if (picked.value == null) {
    currentCalendar.value.classList.remove('filled')
  } else {
    currentCalendar.value.classList.add('filled')
  }
})
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';

</style>