<template lang="pug">
.files
  ul.files__list.grid.grid_4(v-if="files.length")
    li.files__item(v-for="(file, key) in files", :key="key")
      .files__controls(:class="{ 'files__controls--single': rooms }")
        .files__btn
          button(
            v-tooltip="{text: 'You have new messages.', theme: { placement: 'left' }}"
          )
            StarIcon
        .files__btn(v-tooltip="generateTooltips")
          button(@click="removeFile(key)")
            TrashIcon

      img.files__preview(:ref="'preview' + parseInt(key)")

  .file__drag-drop
    p.controls_middle <span class="files__text c-green">Выберите файл</span> <span v-if="!mobile" class="files__text">или перетащите в эту область</span>

    p.controls_small PNG, jpg, gif не более 10 MB
    input.files__input(ref="fileform", type="file", multiple)
</template>

<script>
import { computed } from "@vue/runtime-core";
import { useStore } from "vuex";
// import {useRoute} from "vue-router"
import { StarIcon, TrashIcon } from "@/layout/icon/index";
export default {
  components: {
    StarIcon,
    TrashIcon,
  },
  props: {
    rooms: Boolean,
  },
  setup() {
    const store = useStore();
    const mobile = computed(() => store.getters["common/getMobile"]);
    return { mobile };
  },
  data() {
    return {
      dragAndDropCapable: true,
      files: [],
    };
  },
  computed: {
    generateTooltips() {
      let obj = { text: "You have new messages.", theme: { placement: "" } };

      if (this.rooms) {
        obj.theme.placement = "top";
      } else {
        obj.theme.placement = "bottom";
      }

      return obj;
    },
  },
  mounted() {
    this.dragAndDropCapable = this.determineDragAndDropCapable();
    if (this.dragAndDropCapable) {
      [
        "drag",
        "dragstart",
        "dragend",
        "dragover",
        "dragenter",
        "dragleave",
        "drop",
      ].forEach(
        function (evt) {
          this.$refs.fileform.addEventListener(
            evt,
            function (e) {
              e.preventDefault();
              e.stopPropagation();
            }.bind(this),
            false
          );
        }.bind(this)
      );
      this.$refs.fileform.addEventListener("drop", this.ewfef.bind(this));
      this.$refs.fileform.addEventListener("change", this.ewfef);
    }
  },
  methods: {
    determineDragAndDropCapable() {
      var div = document.createElement("div");
      return (
        ("draggable" in div || ("ondragstart" in div && "ondrop" in div)) &&
        "FormData" in window &&
        "FileReader" in window
      );
    },
    fff(de) {
      // console.log("sefsef");
      console.log(de);
    },
    getImagePreviews() {
      for (let i = 0; i < this.files.length; i++) {
        if (/\.(jpe?g|png|gif)$/i.test(this.files[i].name)) {
          let reader = new FileReader();
          reader.addEventListener(
            "load",
            function () {
              this.$refs["preview" + parseInt(i)][0].src = reader.result;
            }.bind(this),
            false
          );
          reader.readAsDataURL(this.files[i]);
        } else {
          this.$nextTick(function () {
            this.$refs["preview" + parseInt(i)][0].src = "/images/file.png";
          });
        }
      }
    },
    removeFile(key) {
      this.files.splice(key, 1);
    },
    ewfef(e) {
      const files =
          e.type === "drop"
            ? Array.from(e.dataTransfer.files)
            : Array.from(this.$refs.fileform.files),
        filesExt = ["image/jpeg", "image/jpg", "image/gif", "image/png"],
        size = 10 * 1024 * 1024;
      // var parts = files.val().split('.');
      // let result = arr.find(item => item.id == 1)
      // files.forEach(item => {
      // item.
      // })
      if (files.length > 10) {
        return;
      }
      // console.log(files);
      // console.log(filesExt.join());
      files.forEach((item) => {
        if (filesExt.join().search(item.type) === -1) {
          // console.log("Попался!");
          // console.log(filesExt.join().search(item.type));
          return;
        }
      });
      files.reduce((previousValue, currentValue) => {
        if (size > previousValue) {
          return previousValue + currentValue.size;
        }
      }, 0);
      // if (size < esf) {
      //   return
      //   //   // файл больше 5 мегабайт
      // }
      for (let i = 0; i < files.length; i++) {
        this.files.push(files[i]);
        this.getImagePreviews();
      }
      // console.log(this.files);
    },
  },
};
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';
@import '@/assets/styles/mixins.styl';

.files {
  &__input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .files__btn {
    svg {
      width: 24px;
      height: 24px;
      stroke: #fff;
    }
  }

  &__controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-8);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    transition: opacity 0.3s;

    &--single {
      align-items: flex-start;
      justify-content: flex-end;
      padding: 16px;

      .files__btn {
        &:first-child {
          display: none;
        }
      }
    }

    @media $desktop {
      opacity: 0;
    }

    @media $tablet {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      padding: 16px;
      opacity: 1;
    }
  }

  &__btn {
    &:first-child {
      @media $desktop {
        margin-right: 40px;
      }

      @media $tablet {
        margin-right: auto;
        order: 1;
      }
    }
  }

  &__list {
    margin-bottom: 32px;

    @media $mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px;
    }
  }

  &__item {
    position: relative;
    text-align: center;
    height: 120px;
    color: white;

    @media $desktop {
      &:hover {
        .files__controls {
          opacity: 1;
        }
      }
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius-8);
  }
}

.file__drag-drop {
  position: relative;
  padding: 24px;
  border: 1px dashed $green;
  border-radius: var(--radius-def);

  .controls_middle {
    margin-bottom: 12px;
  }
}
</style>