<template lang="pug">
.filter
  ul.filter__list
    li.filter__list-item(v-for="(filter, i) in filtersAmountShow",:key="i")
      button.filter__item(
        :class="{ selected: filter.selected }",
        @click.prevent="choiceFilter($event, i)"
      )
        component.filter__icon(:is="filter.icon")
        span.controls__small {{ filter.title }}

    li.filter__list-item
      button.filter__item(@click.prevent="toggleOpenedFilters")
        ArrowPrevIcon.filter__icon-hide(v-if="openedFilters")
        EctIcon.icon.icon--def(v-else)
        span.controls__small(v-if="openedFilters") Скрыть
        span.controls__small(v-else) Ещё
</template>

<script setup>
import { ref, computed, reactive } from "vue";
import { useStore } from "vuex";
import {
  ActiveIcon,
  Barrelcon,
  BeachIcon,
  CampIcon,
  CorpIcon,
  EctIcon,
  FishingIcon,
  HikeIcon,
  HeartFilterIcon,
  HuntIcon,
  PartyIcon,
  UnderwaterIcon,
  ArrowPrevIcon,
} from "@/layout/icon/index";

const store = useStore();
const desktop = computed(() => store.getters["common/getDesktop"]);

const openedFilters = ref(false);

const filtersAmountShow = computed(() => {
  return openedFilters.value
    ? filters
    : desktop.value
    ? filters.slice(0, 6)
    : filters.slice(0, 5);
});

const toggleOpenedFilters = () => {
  openedFilters.value = !openedFilters.value;
};

const choiceFilter = (e, i) => {
  filters[i].selected = !filters[i].selected;
};

const filters = reactive([
  {
    title: "Активный отдых",
    icon: ActiveIcon,
    selected: false,
  },
  {
    title: "Рыбалка",
    icon: HeartFilterIcon,
    selected: false,
  },
  {
    title: "Рыбалка",
    icon: FishingIcon,
    selected: false,
  },
  {
    title: "Охота",
    icon: HuntIcon,
    selected: false,
  },
  {
    title: "На берегу",
    icon: BeachIcon,
    selected: false,
  },
  {
    title: "Баня и сауна",
    icon: Barrelcon,
    selected: false,
  },
  {
    title: "Праздники",
    icon: PartyIcon,
    selected: false,
  },
  {
    title: "Корпоративный отдых",
    icon: CorpIcon,
    selected: false,
  },
  {
    title: "Подводная охота",
    icon: UnderwaterIcon,
    selected: false,
  },
  {
    title: "Кемпинг",
    icon: CampIcon,
    selected: false,
  },
  {
    title: "Сплав/Поход",
    icon: HikeIcon,
    selected: false,
  },
]);
</script>

<style lang="stylus" scoped>
@import '@/assets/styles/vars.styl';
</style>