<template lang="pug">
ul.message-list
  li.message-list__item
    .notify-count
      span.controls_small 1
    router-link(to="/reservation")
      img.message-list__img(src="@/assets/images/slide.jpg")

    .message-list__box
      .message-list__header.wrapper.wrapper_h-btw.wrapper_v-ctr
        .alert.alert_wait(v-if="booking")
          p.controls_middle Ожидает подтверждения
        //- .alert.alert_success
        //-   p.controls_middle Подтверждено
        //- .alert.alert_error
        //-   p.controls_middle Отклонено

        .wrapper.wrapper_v-ctr
          img.message-list__avatar(src="@/assets/images/avatar.jpg")
          span.controls_middle.message-list__name Дмитрий

        button.message-list__close
          CloseIcon.icon        

      router-link(to="/reservation")
        h3.controls_bigger.mb-8 Коттедж «Ультрасовременный домик»
      router-link(to="/reservation")
        p.text_middle.mb-24.opacity-50 Номер «Стандарт»

      .message-list__details.wrapper
        .message-list__info.opacity-70
          CalendarIcon.icon.icon--def
          span.controls_middle.ml-12 28 апр – 9 мая (11 ночей)

        .message-list__info.opacity-70
          ProfileIcon.icon.icon--def
          span.controls_middle.ml-12 4 человека

        .message-list__info.opacity-70
          BankIcon.icon.icon--def
          span.controls_middle.ml-12 71 500 ₽
</template>

<script setup>
import { ProfileIcon, BankIcon, CalendarIcon, CloseIcon } from "@/layout/icon/index";

defineProps({
  booking: Boolean
})
</script>

<style scoped lang='stylus'>
@import '@/assets/styles/vars.styl';

.message-list
  &__item
    position relative
    display flex
    height 240px
    border-radius: var(--radius-def)
    margin-top 32px
    background-color #fff

    @media $tablet 
      display block
      height auto
      min-height: 384px

    &:first-child
      margin-top 0

  .notify-count {
    position absolute
    top 24px
    left 24px

    @media $tablet {
      left auto
      right 32px
      top 32px
    }

    @media $mobile {
      left auto
      right 24px
      top 24px
    }
  }

  &__header
    margin-bottom 20px

    @media $tablet 
      order 1
      margin-bottom 0
      margin-top 24px

  &__box
    width 100%
    padding 32px

    @media $tablet 
      display flex 
      flex-direction: column

    @media $mobile
      padding 24px 

  &__close {
    position absolute
    right 0
    top 0
    background-color #fff
    box-shadow 0px 1px 16px 2px rgba(0, 0, 0,  0.11) 
    width 25px
    height 25px
    text-align: center
    vertical-align: center
    border-radius: 50%
    transform translate(50%, -50%)
    
    .icon {
      width 10px
      height 10px
    }
  }

  &__img,
  &__avatar
    object-fit: cover
    object-position: center

  &__img
    width 240px
    height 100%
    border-radius: var(--radius-def)
    flex-shrink 0

    @media $tablet 
      width 100%
      height 160px

    @media $mobile
      height 224px

  &__avatar
    width 32px
    height 32px
    margin-right 12px
    border-radius 50%

  &__info
    display flex
    align-items center
    margin-left 24px

    @media $mobile
      margin-left 0
      margin-top 12px

    &:first-child
      margin-left 0
      margin-top 0

  .alert 
    @media $tablet 
      position: absolute
      left 32px
      top 32px
    
    @media $mobile
      left 24px
      top 24px
  
  @media $mobile
    &__details
      display block
</style>